{% extends 'base_layout.html' %}

{% load static %}

{% block content %}


	<!-- Breadcrumbs -->
    <section class="breadcrumbs-custom bg-image context-dark" style="background-image: url({% static 'assets/images/breadcrumbs-image-01.jpg' %});">
        <div class="breadcrumbs-custom-inner">
            <div class="container breadcrumbs-custom-container">
                <div class="breadcrumbs-custom-main">
                    <h6 class="breadcrumbs-custom-subtitle title-decorated">What We Offer</h6>
                    <h1 class="breadcrumbs-custom-title">{% if lang %} पानी खरिद गर्नुहोस् {% else %} Buy Drinking Water {% endif %}</h1>
                </div>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li class="active">{% if lang %} पानी खरिद गर्नुहोस् {% else %}Buy Drinking Water{% endif %}</li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Privacy Policy-->
    <section class="section section-lg section-wave-offset">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <!-- Terms list -->
                    <dl class="list-terms">
                        <dt>{% if lang %} विभिन्न कम्पनीले प्रशोधन तथा शुद्धिकरण गरेको पानीको गुणस्तर बुझि सरोवर एप्स मार्फत पानी खरिद गर्न इच्छा ब्यक्त गर्नु भएकोमा धन्यवाद । {% else %}Thank you for your interest in buying drinking water through Sarovara, water that is processed and purified by various companies.{% endif %}</dt>
                        <dd>{% if lang %} पानी खरिदमा वार्षिक अग्रिम भुक्तानीमा १२.५ प्रतिशत तथा मासिक अग्रिम भुक्तानीमा १० प्रतिशत छुटको व्यवस्था गरिएको छ । {% else %}12.5% discount is available for annual advance payment or 10% discount for monthly advance payment.{% endif %}</dd>
                        <dd style="margin-top: 20px;">{% if lang %} मासिक वा वार्षिक ग्राहक बन्नको लागि तलको विवरण भर्नुहोस् ।{% else %}To become a monthly or an annually customer, fill up the form below.{% endif %}</dd>
                    </dl>  
                </div>
            </div>

            <div class="row">
            	<div class="col-sm-12 col-lg-8">
            		<!-- RD Mailform-->
                    <form class="buy-drinking-water-form" data-form-output="form-output-global" data-form-type="contact" method="POST" 
                    action="{% url 'buy-drinking-water' %}">
						{% csrf_token %}
						<div class="row">
							<div class="col-md-12">
								<div class="form-wrap">
									<label class="form-label-outside" for="contact-2-first-name">{% if lang %} पानी खरिद गर्न लागिएको स्थल {% else %}Location that you want to buy drinking water from{% endif %}</label>
									<select class="form-control" id="id_select_location" name="select_location">
										<option>{% if lang %} स्थान छान्नुहोस्{% else %}Select Location{% endif %}</option>
										<option value="Singamangal">{% if lang %} सिनामंगल {% else %}Sinamangal{% endif %}</option>
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-wrap">
									<label class="form-label-outside" for="contact-2-first-name">{% if lang %} पूरा नाम {% else %}Full Name{% endif %}</label>
									<input class="form-input" id="id_full_name" type="text" name="full_name" data-constraints="@Required">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-wrap">
									<label class="form-label-outside" for="contact-2-email">{% if lang %} ईमेल ठेगाना {% else %}E-mail{% endif %}</label>
									<input class="form-input" id="id_email" type="email" name="email" data-constraints="@Email @Required">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-wrap">
									<label class="form-label-outside" for="contact-2-phone">{% if lang %} सम्पर्क नम्बर {% else %}Phone{% endif %}</label>
									<input class="form-input" id="id_phone" type="text" name="phone" data-constraints="@PhoneNumber">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-wrap">
									<label class="form-label-outside" for="contact-2-nearest-depot">{% if lang %} नजिकको डिपो {% else %}Select Nearest Depot{% endif %}</label>
									<select class="form-control" id="id_select_depot" name="select_depot">
										<option>{% if lang %} डिपो छान्नुहोस् {% else %}Select Depot{% endif %}</option>
										<option>{% if lang %} सिनामंगल डिपो {% else %}Sinamangal Depot{% endif %}</option>
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-wrap">
									<label class="form-label-outside" for="contact-2-nearest-depot">{% if lang %} खरिद गर्न चाहनु भएको पानी {% else %}Select Water Brand{% endif %}</label>
									<select class="form-control" id="id_select_brand" name="select_brand">
										<option>{% if lang %} पानी छान्नुहोस् {% else %}Select Brand{% endif %}</option>
										<option>{% if lang %} करूवा {% else %}Karuwa{% endif %}</option>
										<option>{% if lang %} कुवा {% else %}Kuwa{% endif %}</option>
										<option>{% if lang %} कुवा प्लस {% else %}Kuwa Plus{% endif %}</option>
										<option>{% if lang %} पतंजलि दिव्याजल {% else %}Patanjali Divya Jal{% endif %}</option>
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-wrap">
									<label class="form-label-outside" for="contact-2-nearest-depot">{% if lang %} खरिदको प्रकार {% else %}Select Purchase Type{% endif %}</label>
									<select class="form-control" id="id_select_purchase_type" name="select_purchase_type">
										<option>{% if lang %} खरिदको प्रकार छान्नुहोस् {% else %}Select Purchase Type{% endif %}</option>
										<option>{% if lang %} मासिक {% else %}Monthly{% endif %}</option>
										<option>{% if lang %} त्रैमासिक {% else %}Quarterly{% endif %}</option>
										<option>{% if lang %} अर्ध वार्षिक{% else %}Semi-Annually{% endif %}</option>
										<option>{% if lang %} वार्षिक {% else %}Annually{% endif %}</option>
									</select>
								</div>
							</div>
							<!-- <div class="col-12">
								<div class="form-wrap">
									<label class="form-label-outside" for="contact-2-message">Your Message</label>
									<textarea class="form-input" id="contact-2-message" name="message" data-constraints="@Required"></textarea>
								</div>
							</div> -->
						</div>
						<!-- Google captcha-->
						<!-- <div class="form-wrap text-left form-validation-left">
							<div class="recaptcha" id="captcha1" data-sitekey="6LfZlSETAAAAAC5VW4R4tQP8Am_to4bM3dddxkEt"></div>
						</div> -->
						<div class="group group-middle">
							<button class="button button-primary button-winona" type="submit">{% if lang %} सन्देश पठाउनुहोस् {% else %}Send Message{% endif %}</button>
						</div>
					</form>

					<!-- <p class="form-messege"></p>
					{% for message in messages %}
                      	<div class="alert {{ message.tags }} alert-dismissible" role="alert">
	                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	                          <span aria-hidden="true">&times;</span>
	                        </button>
	                        {{ message }}
	                    </div>
                    {% endfor %} -->
            	</div>
            </div>
        </div>
    </section>

    

{% endblock %}