{% extends 'base_layout.html' %}

{% load static %}

{% block content %}

	<!-- Breadcrumbs -->
    <section class="breadcrumbs-custom bg-image context-dark" style="background-image: url({% static 'assets/images/breadcrumbs-image-01.jpg' %});">
        <div class="breadcrumbs-custom-inner">
            <div class="container breadcrumbs-custom-container">
                <div class="breadcrumbs-custom-main">
                    <h6 class="breadcrumbs-custom-subtitle title-decorated">What We Offer</h6>
                    <h1 class="breadcrumbs-custom-title">File a Complaint</h1>
                </div>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li class="active">Complaint</li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Privacy Policy-->
    <section class="section section-lg section-wave-offset">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12">
                    <!-- Terms list -->
                    <dl class="list-terms">
                        <dt>We are extremely sorry for any inconveniences for the problems you faced. We will immediately address your complaint.</dt>
                                                
                        <p style="margin-top: 20px;">To file a complaint or grievance, Please. <a href="#" data-toggle="modal" data-target="#request-for-complaint" style="font-weight: bold;">Click Here</a>.</p>
                    </dl>  
                </div>
            </div>
        </div>
    </section>

    <div class="modal modal-custom fade" id="request-for-complaint">
        <div class="modal-dialog modal-dialog-custom" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Request for Complaint</h3>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                </div>
                <div class="modal-body">
                    <!-- RD Mailform-->
                    <form class="request-complaint-form" data-form-output="form-output-global" data-form-type="contact" method="POST" 
                    action="{% url 'request-complaint' %}">
						{% csrf_token %}
						<div class="row" style="margin-top: 10px;">
							<div class="col-md-12">
								<div class="form-wrap">
									<label class="form-label-outside" for="contact-2-first-name">Full Name</label>
									<input class="form-input" id="id_full_name" type="text" name="full_name" data-constraints="@Required">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-wrap">
									<label class="form-label-outside" for="contact-2-email">Email</label>
									<input class="form-input" id="id_email" type="email" name="email" data-constraints="@Email @Required">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-wrap">
									<label class="form-label-outside" for="contact-2-phone">Phone</label>
									<input class="form-input" id="id_phone" type="text" name="phone" data-constraints="@PhoneNumber @Required">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-wrap">
									<label class="form-label-outside" for="contact-2-first-name">Select Location</label>
									<select class="form-control" id="id_select_location" name="select_location" data-constraints="@Required">
										<option>Select Location</option>
										<option value="Singamangal">Sinamangal</option>
										<option value="Gaushala">Gaushala</option>
									</select>
								</div>
							</div>
							<div class="col-12">
								<div class="form-wrap">
									<label class="form-label-outside" for="contact-2-message">Your Message</label>
									<textarea class="form-input" id="id_message" name="message" data-constraints="@Required"></textarea>
								</div>
							</div>
						</div>
						<!-- Google captcha-->
						<!-- <div class="form-wrap text-left form-validation-left">
							<div class="recaptcha" id="captcha1" data-sitekey="6LfZlSETAAAAAC5VW4R4tQP8Am_to4bM3dddxkEt"></div>
						</div> -->
						<div class="group group-middle">
							<button class="button button-primary button-winona" type="submit">Send Message</button>
						</div>
					</form>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}