{% extends 'base_layout.html' %}

{% load static %}

{% block content %}

	<!-- Breadcrumbs -->
    <section class="breadcrumbs-custom bg-image context-dark" style="background-image: url({% static 'assets/images/breadcrumbs-image-01.jpg' %});">
        <div class="breadcrumbs-custom-inner">
            <div class="container breadcrumbs-custom-container">
                <div class="breadcrumbs-custom-main">
                    <!-- <h6 class="breadcrumbs-custom-subtitle title-decorated">Pages</h6> -->
                    <h1 class="breadcrumbs-custom-title">Our Depot</h1>
                </div>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li class="active">Our Depot</li>
                </ul>
            </div>
        </div>
    </section>


    <!-- 3 Column Layout-->
    <section class="section section-lg bg-gray-100 section-wave-offset">
        <div class="container">
            <!-- <h3 class="text-center">3 Column Layout</h3> -->
            <div class="row row-30">
                <div class="col-sm-12 col-lg-12 wow-outer">
                    <article class="pricing-minimal wow slideInRight">
                       	<a href="" data-toggle="modal" data-target="#call-depot">
                       		<img class="timeline-classic-item-image" src="{% static 'assets/images/sinamangal-depot-location.jpg' %}" alt="" width="390" height="250"/>
                       	</a>
                        <div class="pricing-minimal-divider"></div>
                        <p>Sinamangal Depot</p>
                        <!-- <a class="button button-primary button-winona" href="#">Order Now</a> -->
                    </article>
                </div>
            </div>

            <!-- <div class="row row-30">
                <div class="col-sm-6 col-lg-3 wow-outer">
                    
                    <article class="pricing-minimal wow slideInRight">
                       	<img class="timeline-classic-item-image" src="{% static 'assets/images/timeline-1-390x250.jpg' %}" alt="" width="390" height="250"/>
                        <div class="pricing-minimal-divider"></div>
                        <p>Seto Pul</p>
                        <a class="button button-primary button-winona" href="#">Order Now</a>
                    </article>
                </div>
                <div class="col-sm-6 col-lg-3 wow-outer">
                    
                    <article class="pricing-minimal wow slideInRight" data-wow-delay=".05s">
                       	<img class="timeline-classic-item-image" src="{% static 'assets/images/timeline-1-390x250.jpg' %}" alt="" width="390" height="250"/>
                        <div class="pricing-minimal-divider"></div>
                        <p>Rato Pul</p>
                        <a class="button button-primary button-winona" href="#">Order Now</a>
                    </article>
                </div>
                <div class="col-sm-6 col-lg-3 wow-outer">
                    
                    <article class="pricing-minimal wow slideInRight" data-wow-delay=".1s">
                        <img class="timeline-classic-item-image" src="{% static 'assets/images/timeline-1-390x250.jpg' %}" alt="" width="390" height="250"/>
                        <div class="pricing-minimal-divider"></div>
                        <p>Maitidevi</p>
                        <a class="button button-primary button-winona" href="#">Order Now</a>
                    </article>
                </div>
                <div class="col-sm-6 col-lg-3 wow-outer">
                    
                    <article class="pricing-minimal wow slideInRight" data-wow-delay=".1s">
                        <img class="timeline-classic-item-image" src="{% static 'assets/images/timeline-1-390x250.jpg' %}" alt="" width="390" height="250"/>
                        <div class="pricing-minimal-divider"></div>
                        <p>Gyaneshwor</p>
                        <a class="button button-primary button-winona" href="#">Order Now</a>
                    </article>
                </div>
            </div> -->
        </div>
    </section>

    <section class="section section-lg">
        <div class="container">
            <h3 class="text-center">Call for Depot</h3>
            <p>If you like to see our depot near to your location. Kindly call us by submitting below form.  We will try to come near to your location as soon as possible.</p>
            <div class="row">
                <div class="col-sm-12 col-lg-8">
                    <!-- RD Mailform-->
                    <form class="open-depot-form" data-form-output="form-output-global" data-form-type="contact" method="POST" 
                    action="{% url 'request-open-depot' %}">
                        {% csrf_token %}
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-12">
                                <div class="form-wrap">
                                    <label class="form-label-outside" for="contact-2-first-name">Full Name</label>
                                    <input class="form-input" id="id_full_name" type="text" name="full_name" data-constraints="@Required">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-wrap">
                                    <label class="form-label-outside" for="contact-2-email">Email</label>
                                    <input class="form-input" id="id_email" type="email" name="email" data-constraints="@Email @Required">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-wrap">
                                    <label class="form-label-outside" for="contact-2-phone">Phone</label>
                                    <input class="form-input" id="id_phone" type="text" name="phone" data-constraints="@PhoneNumber @Required">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-wrap">
                                    <label class="form-label-outside" for="contact-2-phone">Location</label>
                                    <input class="form-input" id="id_location" type="text" name="location" data-constraints="@Required">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-wrap">
                                    <label class="form-label-outside" for="contact-2-message">Your Message</label>
                                    <textarea class="form-input" id="id_message" name="message" data-constraints="@Required"></textarea>
                                </div>
                            </div>
                        </div>
                        <!-- Google captcha-->
                        <!-- <div class="form-wrap text-left form-validation-left">
                            <div class="recaptcha" id="captcha1" data-sitekey="6LfZlSETAAAAAC5VW4R4tQP8Am_to4bM3dddxkEt"></div>
                        </div> -->
                        <div class="group group-middle">
                            <button class="button button-primary button-winona" type="submit">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- <button class="icon icon-md mdi mdi-phone" data-toggle="modal" data-target="#call-form"></button> -->
    <div class="modal modal-custom fade" id="call-depot">
        <div class="modal-dialog modal-dialog-custom" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <img class="depot-item-image" src="{% static 'assets/images/sinamangal-depot-location.jpg' %}" alt="Sinamangal Depot" />
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                </div>
                <div class="modal-body">
                	<h3>Sinamangal Depot</h3>
                	<ul>
                		<li>Tel No: +977-01-4422</li>
                		<li>Depot Incharge: +977-01-4422</li>
                	</ul>
                    <h4>Delivery Boy</h4>
                    <ul>
                    	<li>Ram Bahadur Bomjan</li>
                    	<li>Charles Sobaraj</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}