{% extends 'base_layout.html' %}

{% load static %}

{% block content %}

	<!-- Breadcrumbs -->
    <section class="breadcrumbs-custom bg-image context-dark" style="background-image: url({% static 'assets/images/breadcrumbs-image-01.jpg' %});">
        <div class="breadcrumbs-custom-inner">
            <div class="container breadcrumbs-custom-container">
                <div class="breadcrumbs-custom-main">
                    <!-- <h6 class="breadcrumbs-custom-subtitle title-decorated">Pages</h6> -->
                    <h1 class="breadcrumbs-custom-title">{% if lang %} हाम्रो डिपो {% else %} Our Depot {% endif %}</h1>
                </div>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li class="active">
                        {% if lang %} हाम्रो डिपो {% else %} Our Depot {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </section>


    <!-- 3 Column Layout-->
    <section class="section section-lg bg-gray-100 section-wave-offset">
        <div class="container">
            <h5 class="text-center">{% if lang %} हाल हामी तलको स्थानमा छौं । हामी चाँडै तपाईंको स्थान नजिक आउनेछौं । {% else %}Currently we are at below location. We will come near to your location soon.{% endif %}</h5>
            <div class="row row-30">
                <div class="col-sm-12 col-lg-12 wow-outer">
                    <article class="pricing-minimal wow slideInRight">
                       	<a href="" data-toggle="modal" data-target="#call-depot">
                       		<img class="timeline-classic-item-image" src="{% static 'assets/images/sinamangal-depot-location.jpg' %}" alt="" width="390" height="250"/>
                       	</a>
                        <div class="pricing-minimal-divider"></div>
                        <h5>{% if lang %} सिनामंगल डिपो {% else %}Sinamangal Depot{% endif %}</h5>
                        <!-- <a class="button button-primary button-winona" href="#">Order Now</a> -->
                    </article>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-lg">
        <div class="container">
            <h3 class="text-center">{% if lang %} डिपोको लागि सम्पर्क गर्नुहोस् {% else %}Call for Depot{% endif %}</h3>
            <p>{% if lang %} यदि तपाईं आफ्नो स्थानको नजिक हाम्रो डिपो हेर्न चाहनुहुन्छ भने कृपया तलको फाराम बुझाई हामीलाई सम्पर्क गर्नुहोस् । हामी सकेसम्म चाँडो तपाइँको स्थान नजिक आउने कोशिस गर्नेछौं । {% else %}If you like to see our depot near to your location. Kindly contact us by submitting below form.  We will try to come near to your location as soon as possible.{% endif %}</p>
            <div class="row">
                <div class="col-sm-12 col-lg-8">
                    <!-- RD Mailform-->
                    <form class="open-depot-form" data-form-output="form-output-global" data-form-type="contact" method="POST" 
                    action="{% url 'request-open-depot' %}">
                        {% csrf_token %}
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-12">
                                <div class="form-wrap">
                                    <label class="form-label-outside" for="contact-2-first-name">{% if lang %} तपाईको पूरा नाम {% else %}Full Name{% endif %}</label>
                                    <input class="form-input" id="id_full_name" type="text" name="full_name" data-constraints="@Required">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-wrap">
                                    <label class="form-label-outside" for="contact-2-email">{% if lang %} ईमेल ठेगाना {% else %}Email{% endif %}</label>
                                    <input class="form-input" id="id_email" type="email" name="email" data-constraints="@Email @Required">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-wrap">
                                    <label class="form-label-outside" for="contact-2-phone">{% if lang %} फोन नम्बर {% else %}Phone{% endif %}</label>
                                    <input class="form-input" id="id_phone" type="text" name="phone" data-constraints="@PhoneNumber @Required">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-wrap">
                                    <label class="form-label-outside" for="contact-2-phone">{% if lang %} ठेगाना {% else %}Location{% endif %}</label>
                                    <input class="form-input" id="id_location" type="text" name="location" data-constraints="@Required">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-wrap">
                                    <label class="form-label-outside" for="contact-2-message">{% if lang %} तपाईको सन्देश {% else %}Your Message{% endif %}</label>
                                    <textarea class="form-input" id="id_message" name="message" data-constraints="@Required"></textarea>
                                </div>
                            </div>
                        </div>
                        <!-- Google captcha-->
                        <!-- <div class="form-wrap text-left form-validation-left">
                            <div class="recaptcha" id="captcha1" data-sitekey="6LfZlSETAAAAAC5VW4R4tQP8Am_to4bM3dddxkEt"></div>
                        </div> -->
                        <div class="group group-middle">
                            <button class="button button-primary button-winona" type="submit">{% if lang %} सन्देश पठाउनुहोस् {% else %}Send Message{% endif %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- <button class="icon icon-md mdi mdi-phone" data-toggle="modal" data-target="#call-form"></button> -->
    <div class="modal modal-custom fade" id="call-depot">
        <div class="modal-dialog modal-dialog-custom" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <img class="depot-item-image" src="{% static 'assets/images/sinamangal-depot-location.jpg' %}" alt="Sinamangal Depot" />
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                </div>
                <div class="modal-body">
                	<h3>{% if lang %} सिनामंगल डिपो {% else %}Sinamangal Depot{% endif %}</h3>
                	<ul>
                		<li>{% if lang %} टेलिफोन नम्बरः +९७७-०१-४४४०-२२१ {% else %}Tel No: +977-01-4440-221{% endif %}</li>
                		<li>{% if lang %} डिपो ईन्चार्जः +९७७-०१-४४४०- {% else %}Depot Incharge: +977-01-4440-{% endif %}</li>
                	</ul>
                    <h4>{% if lang %} डेलिभरी केटा {% else %}Delivery Boy{% endif %}</h4>
                    <ul>
                    	<li>{% if lang %}  {% else %} {% endif %}</li>
                    	<li>{% if lang %}  {% else %} {% endif %}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}