{% extends 'base_layout.html' %}

{% load static %}

{% block content %}

    <!-- Page content-->
    <section class="section section-lg" style="padding-top: 20px;">
        <div class="container">
            <img class="timeline-classic-item-image" src="{% static 'assets/images/karuwa-drinking-water-banner-1.png' %}" alt="" />
            <div class="row row-30">
                <div class="col-sm-12 col-lg-7 wow-outer">
                    <h4>About</h4>
                    <div class="pricing-minimal-divider" style="margin-top: 10px;"></div>
                    <p style="margin-top: 10px; text-align: justify;">Emerging deep from the nature and purified under the qualified survellience; KARUWA premium drinking water is a product of quality. Years of study and experience in the field led us to become the best drinking water company of Nepal</p>
                    
                    <h4>Additional Info</h4>
                    <div class="pricing-minimal-divider" style="margin-top: 10px;"></div>
                    <ul class="list-md list-medium">
                        <li class="object-inline">
                            <span class="icon icon-sm mdi mdi-map-marker text-gray-700"></span>
                            <p style="margin-top: 0px;">Bhaisepati <br> Kathmandu, Nepal</p>
                        </li>
                        <li class="object-inline">
                            <span class="icon icon-sm mdi mdi-phone text-gray-700"></span>
                            <p style="margin-top: 0px;">981-3014144</p>
                        </li>
                        <li class="object-inline">
                            <span class="icon icon-sm mdi mdi-email text-gray-700"></span>
                            <p style="margin-top: 0px;">kasgrouppvtltd@gmail.com</p>
                        </li>
                        <!-- <li class="object-inline">
                            <span class="icon icon-sm mdi mdi-information text-gray-700"></span>
                            <p style="margin-top: 0px;"><strong>Founding Date</strong> <br> 2074-01-13</p>
                        </li> -->
                        <li class="object-inline">
                            <span class="icon icon-sm mdi mdi-information text-gray-700"></span>
                            <p style="margin-top: 0px;"><strong>Products</strong> <br> Jar Bottled Water</p>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-12 col-lg-5 wow-outer">
                   <article class="pricing-minimal">
                        <img class="timeline-classic-item-image" src="{% static 'assets/images/karuwa-drinking-water-banner-1.png' %}" alt="" />
                        <h5>Karuwa Premium Drinking Water</h5>
                        <div class="pricing-minimal-divider" style="margin-top: 10px;"></div>
                        <p style="margin-top: 10px; text-align: justify;">Karuwa is a Nepalese drinking water manufacturing company with a production plant located in Bhaisepati, Lalitpur, Nepal. We are Nepal's first brand to pass "Processed Drinking Water Production Standard Regulation, 2074".</p>
                        <p style="margin-top: 10px; text-align: justify; font-weight: bold;">Join us to make  world a healthy place.</p>
                    </article>
                </div>
            </div>
        </div>
    </section>
{% endblock %}