{% extends 'base_layout.html' %}

{% load static %}

{% block content %}


	<!-- Breadcrumbs -->
    <section class="breadcrumbs-custom bg-image context-dark" style="background-image: url({% static 'assets/images/breadcrumbs-image-01.jpg' %});">
        <div class="breadcrumbs-custom-inner">
            <div class="container breadcrumbs-custom-container">
                <div class="breadcrumbs-custom-main">
                    <h6 class="breadcrumbs-custom-subtitle title-decorated">What We Offer</h6>
                    <h1 class="breadcrumbs-custom-title">We Sales</h1>
                </div>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li class="active">We Sales</li>
                </ul>
            </div>
        </div>
    </section>


    <!-- Section Products-->
    <section class="section section-lg section-wave-offset">
        <div class="container">
            <h3 class="text-center">We Sales</h3>
            <div class="row row-30 row-md-50">
                <div class="col-md-6">
                    <article class="card-modern wow fadeInUp" data-wow-delay=".05s">
                        <div class="card-modern-left"><img src="{% static 'assets/images/water-01-138x197.png' %}" alt="" width="138" height="197"/>
                        </div>
                        <div class="card-modern-body">
                            <h4><a class="card-modern-title" href="#">Kuwa</a></h4>
                            <div class="card-modern-price"><span>$10</span></div>
                            <div class="card-modern-info"><span class="icon icon-sm mdi mdi-information-outline"></span><span class="card-modern-info-text">for daily use</span></div>
                            <div class="card-modern-text">
                                <p>Enjoy your favorite spring water in the most popular shape! This water is great to share and drink at any weather and is a reasonable offer for any budget.</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="card-modern wow fadeInUp second" data-wow-delay=".05s">
                        <div class="card-modern-left"><img src="{% static 'assets/images/water-02-138x197.png' %}" alt="" width="138" height="197"/>
                        </div>
                        <div class="card-modern-body">
                            <h4><a class="card-modern-title" href="#">Patanjali Divya Jal</a></h4>
                            <div class="card-modern-price"><span>$9</span></div>
                            <div class="card-modern-info"><span class="icon icon-sm mdi mdi-information-outline"></span><span class="card-modern-info-text">for daily use</span></div>
                            <div class="card-modern-text">
                                <p>Perfect sparkling water for single- or multi-serve convenience for home, restaurant or upscale retail stores. We are sure you will love its energizing effect.</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="card-modern wow fadeInUp third" data-wow-delay=".05s">
                        <div class="card-modern-left"><img src="{% static 'assets/images/water-03-138x197.png' %}" alt="" width="138" height="197"/>
                        </div>
                        <div class="card-modern-body">
                            <h4><a class="card-modern-title" href="#">Kuwa Plus</a></h4>
                            <div class="card-modern-price"><span>$7</span></div>
                            <div class="card-modern-info"><span class="icon icon-sm mdi mdi-information-outline"></span><span class="card-modern-info-text">for daily use</span></div>
                            <div class="card-modern-text">
                                <p>Need a greater amount of our spring water at an affordable price? Then Water’s 500 ml spring water is your #1 fit. Available at all major department stores and online.</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="card-modern wow fadeInUp fourth" data-wow-delay=".05s">
                        <div class="card-modern-left"><img src="{% static 'assets/images/water-04-138x197.png' %}" alt="" width="138" height="197"/>
                        </div>
                        <div class="card-modern-body">
                            <h4><a class="card-modern-title" href="#">Karuwa</a></h4>
                            <div class="card-modern-price"><span>$10</span></div>
                            <div class="card-modern-info"><span class="icon icon-sm mdi mdi-information-outline"></span><span class="card-modern-info-text">for daily use</span></div>
                            <div class="card-modern-text">
                                <p>Wherever it is served, our Spring Water is the finest pairing for any dish. Our spring’s unique blend of minerals provides a remarkably refreshing taste.</p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <!-- <div class="row justify-content-center text-center row-offset-custom-1">
                <div class="col-12">
                    <div class="wow-outer button-outer"><a class="button button-lg button-primary button-winona wow slideInDown" data-wow-delay=".1s" href="about-us.html">View more</a></div>
                </div>
            </div> -->
        </div>
    </section>

{% endblock %}