{% extends 'base_layout.html' %}

{% load static %}

{% block content %}


	<!-- Breadcrumbs -->
    <section class="breadcrumbs-custom bg-image context-dark" style="background-image: url({% static 'assets/images/breadcrumbs-image-01.jpg' %});">
        <div class="breadcrumbs-custom-inner">
            <div class="container breadcrumbs-custom-container">
                <div class="breadcrumbs-custom-main">
                    <h6 class="breadcrumbs-custom-subtitle title-decorated">What We Offer</h6>
                    <h1 class="breadcrumbs-custom-title">We Sales</h1>
                </div>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li class="active">We Sales</li>
                </ul>
            </div>
        </div>
    </section>


    <!-- Section Products-->
    <section class="section section-lg section-wave-offset">
        <div class="container">
            <div class="row row-30 row-md-50">
                <div class="col-md-6">
                    <article class="card-modern wow fadeInUp" data-wow-delay=".05s">
                        <div class="card-modern-left">
                            <a href="{% url 'kuwa-drinking-water' %}">
                                <img src="{% static 'assets/images/kuwa-water.png' %}" alt="" width="138" height="197"/>
                            </a>
                        </div>
                        <div class="card-modern-body">
                            <h4><a class="card-modern-title" href="{% url 'kuwa-drinking-water' %}">Kuwa</a></h4>
                            <div class="card-modern-price"><span>Rs. 37</span></div>
                            <!-- <div class="card-modern-info">
                                <span class="icon icon-sm mdi mdi-information-outline"></span>
                                <span class="card-modern-info-text">Fresh and Pure Drinking Water</span>
                            </div> -->
                            <div class="card-modern-text">
                                <p>Kuwa is a finest water source of Nepal. It is a fresh and pure drinking water having perfect level of Minerals needs for Our Body. Kuwa is the original source of Drinking Water for you.</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="card-modern wow fadeInUp second" data-wow-delay=".05s">
                        <div class="card-modern-left">
                            <a href="{% url 'patanjali-dibyajal' %}">
                                <img src="{% static 'assets/images/divyajal-water.png' %}" alt="" width="138" height="197"/>
                            </a>
                        </div>
                        <div class="card-modern-body">
                            <h4><a class="card-modern-title" href="{% url 'patanjali-dibyajal' %}">Patanjali Dibyajal</a></h4>
                            <div class="card-modern-price"><span>Rs. 125</span></div>
                            <!-- <div class="card-modern-info">
                                <span class="icon icon-sm mdi mdi-information-outline"></span>
                                <span class="card-modern-info-text">Purest and Safest</span>
                            </div> -->
                            <div class="card-modern-text">
                                <p>Patanjali is a world wide legendary brand. Purest and Safest Processed Drinking water available in 250ml, 500ml, 1ltr., 20ltr.</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="card-modern wow fadeInUp third" data-wow-delay=".05s">
                        <div class="card-modern-left">
                            <a href="{% url 'kuwa-drinking-water' %}">
                                <img src="{% static 'assets/images/kuwa-plus-water.png' %}" alt="" width="138" height="197"/>
                            </a>
                        </div>
                        <div class="card-modern-body">
                            <h4><a class="card-modern-title" href="{% url 'kuwa-drinking-water' %}">Kuwa Plus</a></h4>
                            <div class="card-modern-price"><span>Rs. 65</span></div>
                            <!-- <div class="card-modern-info"><span class="icon icon-sm mdi mdi-information-outline"></span><span class="card-modern-info-text">for daily use</span></div> -->
                            <div class="card-modern-text">
                                <p>Kuwa Plus is one of the products of the Kuwa processed as per the Drinking Water Production Standards 2017. New Clean jar with additional plastic wrapping on jar and water label has been added on jar.</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="card-modern wow fadeInUp fourth" data-wow-delay=".05s">
                        <div class="card-modern-left">
                            <a href="{% url 'karuwa-premium-drinking-water' %}">
                                <img src="{% static 'assets/images/karuwa-water.png' %}" alt="" width="138" height="197"/>
                            </a>
                        </div>
                        <div class="card-modern-body">
                            <h4><a class="card-modern-title" href="{% url 'karuwa-premium-drinking-water' %}">Karuwa</a></h4>
                            <div class="card-modern-price"><span>Rs. 85</span></div>
                           <!--  <div class="card-modern-info"><span class="icon icon-sm mdi mdi-information-outline"></span><span class="card-modern-info-text">Nepalese drinking water</span></div> -->
                            <div class="card-modern-text">
                                <p>Karuwa is a Nepalese drinking water manufacturing company with a production plant located in Bhaisepati, Lalitpur, Nepal. We are Nepal's first brand to pass "Processed  Drinking Water Production Standard Regulation, 2074".</p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <!-- <div class="row justify-content-center text-center row-offset-custom-1">
                <div class="col-12">
                    <div class="wow-outer button-outer"><a class="button button-lg button-primary button-winona wow slideInDown" data-wow-delay=".1s" href="about-us.html">View more</a></div>
                </div>
            </div> -->
        </div>
    </section>

{% endblock %}