{% extends 'base_layout.html' %}

{% load static %}

{% block content %}

	<!-- Breadcrumbs -->
    <section class="breadcrumbs-custom bg-image context-dark" style="background-image: url({% static 'assets/images/breadcrumbs-image-01.jpg' %});">
        <div class="breadcrumbs-custom-inner">
            <div class="container breadcrumbs-custom-container">
                <div class="breadcrumbs-custom-main">
                    <!-- <h6 class="breadcrumbs-custom-subtitle title-decorated">Pages</h6> -->
                    <h1 class="breadcrumbs-custom-title">Terms and Conditions</h1>
                </div>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li class="active">Terms and Conditions</li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Privacy Policy-->
    <section class="section section-lg section-wave-offset">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <!-- Terms list -->
                    <dl class="list-terms">
                        <dt style="margin-top: 30px;">1. About Terms and Conditions</dt>
                        <dd style="margin-top: 10px;">Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the https://sarovara.com.np website and the sarovara mobile application (together, or individually, the "Service") operated by Sarovara Piune Paani Pvt. Ltd. [called “Sarovara” hereafter] ("us", "we", or "our").</dd>

                        <dd style="margin-top: 10px;">Your access to and use of the Service is conditioned upon your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who wish to access or use the Service.</dd>

                        <dd style="margin-top: 10px;">By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then let us know by emailing at support@sarovara.com.np so we can try our best to find a solution.  Though we encourage to use our Service if we can’t find solution you may not use the Service.</dd>

                        <dt style="margin-top: 30px;">2. Communications</dt>
                        <dd style="margin-top: 10px;">By creating an Account on our service, you agree to subscribe to newsletters, marketing or promotional materials and other information we may send. However, you may opt out of receiving all of these communications from us by unsubscribing via the Service or unsubscribing any communications by emailing at support@sarovara.com.np.</dd>

                        <dt style="margin-top: 30px;">3. Purchase</dt>
                        <dd style="margin-top: 10px;">If you wish to purchase any product or service made available through the Service ("Purchase"), you may be asked to supply certain information relevant to your Purchase including, without limitation, your location (i.e. shipping address).</dd>
                        <dd style="margin-top: 10px;">As of now we will require Cash on delivery as the only payment method. You represent and warrant that the payment you make to us via Cash has been earned/acquired legally and that the information you supply to us is true, correct and complete.</dd>
                        <dd style="margin-top: 10px;">We reserve the right to refuse or cancel your order at any time for reasons including but not limited to: product or service availability, errors in the description or price of the product or service, error in your order or other reasons.</dd>

                        <dd style="margin-top: 10px;">We reserve the right to refuse or cancel your order if fraud or an unauthorized or illegal transaction is suspected.</dd>


                        <dt style="margin-top: 30px;">4. Availability, Errors and Inaccuracies </dt>
                        <dd style="margin-top: 10px;">We are constantly updating product and service offering on the Service. Prices may different for the same products on different locations (i.e. based on shipping addresses) and different products may available on different locations. If our Depot is not available near to your location you may not see any products to purchase.</dd>


                        <dt style="margin-top: 30px;">5.  Contents, Sweepstakes and Promotions</dt>
                        <dd style="margin-top: 10px;">Any contests, sweepstakes or other promotions (collectively, "Promotions") made available through the Service may be governed by rules that are separate from these Terms & Conditions. If you participate in any Promotions, please review the applicable rules as well as our Privacy Policy. If the rules for a Promotion conflict with these Terms and Conditions, the Promotion rules will apply.</dd>

                        <dt style="margin-top: 30px;">6.  Subscriptions</dt>
                        <dd style="margin-top: 10px;">Some parts of the Service are billed on a subscription basis ("Subscription(s)"). You will be billed in advance on a recurring and periodic basis ("Billing Cycle"). Billing cycles are set either on a monthly, quarterly, or annual basis, depending on the type of subscription plan you select when purchasing a Subscription.</dd>

                        <dd style="margin-top: 10px;">At the end of each Billing Cycle, your Subscription will automatically renew under the exact same conditions unless you cancel it or Sarovara cancels it. You may cancel your Subscription renewal by contacting Sarovara customer support team or by emailing at support@sarovara.com.np.</dd>

                        <dt style="margin-top: 30px;">7. Refunds</dt>
                        <dd style="margin-top: 10px;">Except when required by law, paid fees are non-refundable.</dd>

                        <dt style="margin-top: 30px;">8. Contents</dt>
                        <dd style="margin-top: 10px;">Sarovara has the right but not the obligation to monitor and edit all content provided by users.</dd>

                        <dt style="margin-top: 30px;">9. Prohibited Uses </dt>
                        <dd style="margin-top: 10px;">You have to use Services only for the lawful purposes and accordance with Terms.</dd>
                        <dd style="margin-top: 10px;">You agree not to use service:</dd>
                        <ul>
                            <li>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-1" style="max-width: 0.83%">
                                        1. 
                                    </div>
                                    <div class="col-md-11">
                                        In any way that violates any applicable national or international law or regulation. 
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-1" style="max-width: 0.83%">
                                        2. 
                                    </div>
                                    <div class="col-md-11">
                                        In any way that damage the goodwill of Sarovara 
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-1" style="max-width: 0.83%">
                                        3. 
                                    </div>
                                    <div class="col-md-11">
                                        In any way that delays, stops the services of Sarovara 
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-1" style="max-width: 0.83%">
                                        4. 
                                    </div>
                                    <div class="col-md-11">
                                        Attempt to get unnecessarily multiple time One Time Password (OTP) 
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-1" style="max-width: 0.83%">
                                        5. 
                                    </div>
                                    <div class="col-md-11">
                                        Attempt to fake purchase order
                                    </div>
                                </div>
                            </li>
                        </ul>


                        <dt style="margin-top: 30px;">10. Anlaytics</dt>
                        <dd style="margin-top: 10px;">We may use third-party Service Providers to monitor and analyze the use of our Service.</dd>

                        <dt style="margin-top: 30px;">11. Age Restrictions</dt>
                        <dd style="margin-top: 10px;">Service is related to the Purchasing of the product from us so it is not intended for access and use by Children under the age of Sixteen (16). By accessing or using Service, you warrant and represent that you are over the age of Sixteen (16) and with the fully authority, right and capacity to enter into this agreement and abide by all of the terms and conditions of Terms. If you are not over the age of Sixteen (16), you are prohibited from both the access and usage of Service. </dd>

                        <dt style="margin-top: 30px;">12. Accounts</dt>
                        <dd style="margin-top: 10px;">When you create an account with us, you guarantee that you are above the age of 16, and that the information you provide us is accurate, complete, and current at all times. Inaccurate, incomplete, or obsolete information may result in the immediate termination of your account on the Service.</dd>

                        <dd style="margin-top: 10px;">You are responsible for maintaining the confidentiality of your account and password, including but not limited to the restriction of access to your computer and/or account. You agree to accept responsibility for any and all activities or actions that occur under your account and/or password, whether your password is with our Service or a third-party service. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.</dd>

                        <dd style="margin-top: 10px;">You may not use as a username the name of another person or entity or that is not lawfully available for use, a name or trademark that is subject to any rights of another person or entity other than you, without appropriate authorization. You may not use as a username any name that is offensive, vulgar or obscene.</dd>

                        <dd style="margin-top: 10px;">We reserve the right to refuse service, terminate accounts, remove or edit content, or cancel orders in our sole discretion.</dd>


                        <dt style="margin-top: 30px;">13. Intellectual Property</dt>
                        <dd style="margin-top: 10px;">The Service and its original content (excluding Content provided by users), features and functionality are and will remain the exclusive property of Sarovara and its licensors. The Service is protected by copyright, trademark, and other laws of both the Nepal and foreign countries. Our trademarks and trade dress may not be used in connection with any product or service without the prior written consent of Sarovara.</dd>

                        <dt style="margin-top: 30px;">14. Links to Other Websites</dt>
                        <dd style="margin-top: 10px;">Our Service may contain links to third party web sites or services that are not owned or controlled by Sarovara. Sarovara has no control over, and assumes no responsibility for the content, privacy policies, or practices of any third-party web sites or services. We do not warrant the offerings of any of these entities/individuals or their websites.</dd>

                        <dd style="margin-top: 10px;">You acknowledge and agree that Sarovara shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such third-party web sites or services.</dd>

                        <dd style="margin-top: 10px;">We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.</dd>

                        <dt style="margin-top: 30px;">15. Termination</dt>
                        <dd style="margin-top: 10px;">We may terminate or suspend your account and bar access to the Service immediately, without prior notice or liability, under our sole discretion, for any reason whatsoever and without limitation, including but not limited to a breach of the Terms.</dd>

                        <dd style="margin-top: 10px;">If you wish to terminate your account, you may simply discontinue using the Service.</dd>

                        <dd style="margin-top: 10px;">All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</dd>

                        <dt style="margin-top: 30px;">16. Indemnification</dt>
                        <dd style="margin-top: 10px;">You agree to defend, indemnify and hold harmless Sarovara and its licensee and licensors, and their employees, contractors, agents, officers and directors, from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to attorney's fees), resulting from or arising out of a) your use and access of the Service, by you or any person using your account and password; b) a breach of these Terms, or c) Content posted on the Service.</dd>

                        <dt style="margin-top: 30px;">17. Limitation of Liablility</dt>
                        <dd style="margin-top: 10px;">In no event shall Sarovara, nor its directors, employees, partners, agents, suppliers, or affiliates, be liable for any indirect, incidental, special, consequential or punitive damages, including without limitation, loss of profits, data, use, goodwill, or other intangible losses, resulting from (i) your access to or use of or inability to access or use the Service; (ii) any conduct or content of any third party on the Service; (iii) any content obtained from the Service; and (iv) unauthorized access, use or alteration of your transmissions or content, whether based on warranty, contract, tort (including negligence) or any other legal theory, whether or not we have been informed of the possibility of such damage, and even if a remedy set forth herein is found to have failed of its essential purpose.</dd>

                        <dt style="margin-top: 30px;">18. Disclaimer</dt>
                        <dd style="margin-top: 10px;">Your use of the Service is at your sole risk. The Service is provided on an "AS IS" and "AS AVAILABLE" basis. The Service is provided without warranties of any kind, whether express or implied, including, but not limited to, implied warranties of merchantability, fitness for a particular purpose, non-infringement or course of performance.</dd>

                        <dd style="margin-top: 10px;">Sarovara its subsidiaries, affiliates, and its licensors do not warrant that a) the Service will function uninterrupted, secure or available at any particular time or location; b) any errors or defects will be corrected; c) the Service is free of viruses or other harmful components; or d) the results of using the Service will meet your requirements.</dd>

                        <dt style="margin-top: 30px;">19. Governing Law</dt>
                        <dd style="margin-top: 10px;">These Terms shall be governed and construed in accordance with the laws of Nepal, without regard to its conflict of law provisions.</dd>

                        <dd style="margin-top: 10px;">Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have had between us regarding the Service.</dd>


                        <dt style="margin-top: 30px;">20. Changes to Terms and Conditions</dt>
                        <dd style="margin-top: 10px;">We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material, we will provide at least 7 days’ notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</dd>

                        <dd style="margin-top: 10px;">By continuing to access or use our Service after any revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new Terms, Kindly let us know by emailing at support@sarovara.com.np so we can try our best to find a solution.  Though we encourage to use our Service if we can’t find solution you may not use the Service.</dd>

                        <dt style="margin-top: 30px;">21. ACKNOWLEDGEMENT</dt>
                        <dd style="margin-top: 10px;">BY USING SERVICE OR OTHER SERVICES PROVIDED BY US, YOU ACKNOWLEDGE THAT YOU HAVE READ THESE TERMS AND SERVICE AND AGREE TO BE BOUND BY THEM.</dd>

                        <dt style="margin-top: 30px;">Contact Us</dt>
                        <dd style="margin-top: 10px;">Kindly request you to send your feedbacks, comments, requests for the change / amend to the Terms and Conditions by emailing on support@sarovara.com.np</dd>
                    </dl>
                </div>
            </div>
        </div>
    </section>
{% endblock %}