{% extends 'personal/dashboard_layout/app.html' %}

{% load static %}

{% block content %}
    <div class="row">
        <div class="col-sm-12" id="cartpage">
            <div class="card-box">
                <h4 class="mt-4 header-title">Patient Name: {{ user.firstname }} {{user.lastname}}</h4>
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <h4 class="mt-4 header-title">Patient ID: {{ user.id}}</h4>
                        <form1 class="form-inline">
                            <div class="form-group">
                                <button class="btn btn-success waves-effect waves-light btn-md" @click="createCart">Create New Bill</button>
                            </div>
                            <div class="form-group ml-4">
                                <button type="submit" class="btn btn-success waves-effect waves-light ml-2 btn-md">Mark as Finished</button>
                            </div>
                            <div class="form-group ml-4">
                                {% if user_id %}
                                    <a href="/api/full_bill/1/?user_id={{user_id}}">
                                        <button class="btn btn-primary waves-effect waves-light ml-2 btn-md">View Active Bill</button>
                                    </a>
                                {% else %}
                                    <a href="/api/full_bill/1/?user_id={{carts.first.user.id}}">
                                        <button class="btn btn-primary waves-effect waves-light ml-2 btn-md">View Active Bill</button>
                                    </a>
                                {% endif %}
                            </div>
                        </form1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <div class="card-box">
                <h4 class="header-title mb-4">Recent Bill Details</h4>
                <div class="table-responsive">
                    <table class="table table-hover table-centered m-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Bill Counter</th>
                                <th>Bill amount</th>
                                <th>Paid By</th>
                                <th>Billed by</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cart in carts %}
                            <tr>
                                <td>
                                    {{cart.id}}
                                </td>
                                <td>
                                    <a href="/cartitems?cart_id={{cart.id}}"><h5 class="m-0 font-15">{{cart.fk_counter.name}}</h5></a>
                                    <!-- <p class="m-0 text-muted"><small>Web designer</small></p> -->
                                </td>
                                <td>{{cart.total}}</td>
                                <td>{{cart.fk_payment_method.title}}</td>                                
                                <td>{{cart.fk_bill_created_by_user.firstname }} {{cart.fk_bill_created_by_user.lastname }}</td>
                                <td>
                                    <a href="/cartitems?cart_id={{cart.id}}"><button class="btn btn-purple">Modify</button></a>
                                    <button class="btn btn-danger" @click="ModifyCart({{cart_id}})">Delete</button>
                                    <!-- <p class="m-0 text-muted"><small>Web designer</small></p> -->
                                </td>
                               
                                   
                                    <!-- <p class="m-0 text-muted"><small>Web designer</small></p> -->
                               
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- table-responsive -->
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
    </div>
{% endblock %}


{% block script %}
    <script>
        // var Toasted = require('vue-toasted').default
        Vue.use(VueToast);
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#cartpage',
            data: {
                // fk_visit_id : null,
            }, //Data Closed
            methods : {
                createCart: function() {
                    axios({
                    method: 'get',
                    url:  '/api/cart/?fk_visit_id='+{{visit_id}}+'&action=create_cart',
                    headers: {
                                    'Content-Type': 'application/json',
                                    'X-CSRFToken': '{{ csrf_token }}'
                                }, 
                    // data: {
                    //     fk_visit_id : {{visit_id}}

                    // },
                    }) //.then(response=> cartitem.variation = response.data)
                    .then((getResponse) => {
                        // $('#con-close-modal').modal('hide')
                        $ToastSuccess(this, 'Created New Bill');                      
                        window.location.reload();
                        // this.patientType = getResponse.data.user_id;
                    }) 
                    .catch(function (error) {
                        console.log(error);
                        console.log("Error while fetching market updates");
                    });
                },

                ModifyCart: function(cart_id) { //delete or change 
                    axios({
                    method: 'delete',
                    url:  '/api/cart/',
                    headers: {
                                    'Content-Type': 'application/json',
                                    'X-CSRFToken': '{{ csrf_token }}'
                                }, 
                    data: {
                        cart_id : cart_id,
                    },
                    }) //.then(response=> cartitem.variation = response.data)
                    .then((getResponse) => {
                        // $('#con-close-modal').modal('hide')
                        $ToastSuccess(this, getResponse.data);                      
                        window.location.reload();
                        // this.patientType = getResponse.data.user_id;
                    }) 
                    .catch(function (error) {
                        console.log(error);
                        console.log("Error while fetching market updates");
                    });
                }
            }, //end method

            mounted() {},
        })
    </script>
{% endblock %}