
{% extends 'personal/dashboard_layout/app.html' %}

{% load static %}

{% block content %}


<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card widget-box-one border border-primary bg-soft-primary">
            <div class="card-body">
                <div class="float-right avatar-lg rounded-circle mt-3">
                    <i class="mdi mdi-chart-areaspline font-30 widget-icon rounded-circle avatar-title text-primary"></i>
                </div>
                <div class="wigdet-one-content">
                    <p class="m-0 text-uppercase font-weight-bold text-muted" title="Statistics">Statistics</p>
                    <h2><span data-plugin="counterup">34578</span> <i class="mdi mdi-arrow-up text-success font-24"></i></h2>
                    <p class="text-muted m-0"><span class="font-weight-medium">Last:</span> 30.4k</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end col -->

    <div class="col-xl-3 col-md-6">
        <div class="card widget-box-one border border-warning bg-soft-warning">
            <div class="card-body">
                <div class="float-right avatar-lg rounded-circle mt-3">
                    <i class="mdi mdi-layers font-30 widget-icon rounded-circle avatar-title text-warning"></i>
                </div>
                <div class="wigdet-one-content">
                    <p class="m-0 text-uppercase font-weight-bold text-muted" title="User This Month">User This Month</p>
                    <h2><span data-plugin="counterup">52410</span> <i class="mdi mdi-arrow-up text-success font-24"></i></h2>
                    <p class="text-muted m-0"><span class="font-weight-medium">Last:</span> 40.33k</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end col -->

    <div class="col-xl-3 col-md-6">
        <div class="card widget-box-one border border-danger bg-soft-danger">
            <div class="card-body">
                <div class="float-right avatar-lg rounded-circle mt-3">
                    <i class="mdi mdi-av-timer font-30 widget-icon rounded-circle avatar-title text-danger"></i>
                </div>
                <div class="wigdet-one-content">
                    <p class="m-0 text-uppercase font-weight-bold text-muted" title="Statistics">Statistics</p>
                    <h2><span data-plugin="counterup">6352</span> <i class="mdi mdi-arrow-up text-success font-24"></i></h2>
                    <p class="text-muted m-0"><span class="font-weight-medium">Last:</span> 956</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end col -->

    <div class="col-xl-3 col-md-6">
        <div class="card widget-box-one border border-success bg-soft-success">
            <div class="card-body">
                <div class="float-right avatar-lg rounded-circle mt-3">
                    <i class="mdi mdi-account-convert font-30 widget-icon rounded-circle avatar-title text-success"></i>
                </div>
                <div class="wigdet-one-content">
                    <p class="m-0 text-uppercase font-weight-bold text-muted" title="User Today">User Today</p>
                    <h2><span data-plugin="counterup">895</span> <i class="mdi mdi-arrow-down text-danger font-24"></i></h2>
                    <p class="text-muted m-0"><span class="font-weight-medium">Last:</span> 1250</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end col -->
</div>


      <!-- BEGIN DATATABLE 2 -->
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card-box">   
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group ">
                                <label>Visit ID</label>
                                <input type="text" class="form-control" placeholder="Enter Visit ID" name="visit_id" id="visit_id">
                            </div>
                        </div>
    
                        <div class="col-md-3">
                            <div class="form-group ">
                                <label>Patient Name</label>
                                <input type="text" class="form-control" placeholder="Enter Patient Name" name="patient" id="fk_customer_user">
                            </div>
                        </div>
                    </div>             
                </div>
            </div>
        </div>

      <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">                       
                    <div class="table-responsive">
                        <table id="visitTable" class="table m-0 styled-table">
                            <div class="clear"></div>
                            <thead class="bg-teal text-white">
                                <th>Visit Code </th>
                                <th>Patient</th>
                                <th>Entry</th>
                                <th>Doctor</th>
                                <th>Appoint Date</th>
                                <th>Visit</th>
                                <th>Actions</th>
                            </thead>
                        </table>
                    </div>
                    <!--end .table-responsive -->
                </div>
            </div>
        </div>
        <!--end .col -->
    </div>
    <!--end .row -->
    <!-- END DATATABLE 2 -->


{% comment %}
<div class="row">
    <div class="col-xl-12">
        <div class="card-box">
            <h4 class="header-title mb-4">Recent Visits</h4>

            <table class="table table-centered mb-0">
                <tbody>
                    {% for visit in visits %}
                    <tr>
                        <!-- <td>
                            <a class="user" href="#">
                                <img src="assets/images/users/avatar-2.jpg" alt="" class="rounded-circle img-thumbnail avatar-md">
                            </a>
                        </td> -->
                        <td>
                            <h5 class="mt-0 mb-1 font-15">{{visit.fk_customer_user.firstname}} {{visit.fk_customer_user.lastname}} ({{visit.fk_customer_user.mobile}})</h5>
                            <p class="font-13 mb-0">Entry Time : {{visit.timestamp}}</p>
                        </td>
                        <td>
                            <h5 class="mt-0 mb-1 font-15">Appointed doctor : {{visit.fk_doctor_user.firstname}} {{visit.fk_doctor_user.lastname}} </h5>
                            <p class="font-13 mb-0">appointment date : {{visit.appointment_date}}</p>
                        </td>
                        <td>
                            <b class="text-primary">{{visit.fk_visit.title}}</b>
                        </td>
                        <td class="text-right">
                            <a href="/carts?visit_id={{visit.id}}" class="btn btn-sm btn-bordered-primary waves-effect waves-light btn-secondary">View</a>
                            <a href="#" class="btn btn-sm btn-bordered-primary waves-effect waves-light btn-primary">Edit</a>
                            <a href="#" class="btn btn-sm btn-bordered-danger waves-effect waves-light btn-danger">Remove</a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endcomment %}

</div>

{% endblock %}

{% block script %}
<script>
        //   var csrftoken = Cookies.get('csrftoken');
    let timetable = null;

$(document).ready(function () {
    $(".date").datepicker("option", "dateFormat", 'yyyy-mm-dd');
    $(function () {
    'use strict';
    $.noConflict();
    timetable = $('#visitTable').DataTable({

        "processing": true,
        "serverSide": true,
        "pageLength": 10,

        "ajax": {
            //"url": "{ url 'quote_index2' %}",
            "url": "/api/visits?format=datatables",
            //"type": "POST",
            "type": "GET",
            headers: { 'X-CSRFToken': '{{ csrf_token }}' },
            //"dataSrc":'results', // django provides data in format {'count': 5, next:'url', 'prev':url, 'results':[]}

            //search garda k data jancha
            'data': function (data) {
                // Append to data
                data.id =  $('#id').val();
                data.patient_fullname = $('#fk_customer_user').val();
                data.code = $('#code').val();
                data.visit_id = $('#visit_id').val();
                data.columns=null; //modify ajax request to make less cluttered
                //added page required for django
                //start offset dont work
                data.page = (data.start + data.length) / data.length ;
                //data.fk_quotestatus = $('#fk_quotestatus').val();
            }
        },
        "columns": [
            {
                "data": "visit_id",
                "orderable": true,
                "searchable": true
            },
            
            {
                "data": "patient_fullname",
                "searchable": true,
                "orderable": true
            },
            {
                "data": "timestamp",
                "searchable": true,
                "orderable": true
            },
            {
                "data": "doctor_fullname",
                "searchable": true,
                "orderable": true
            },
            {
                "data": "appointment_date",
                "searchable": true,
                "orderable": true
            },
            {
                "data": "visit_type",
                "searchable": true,
                "orderable": true
            },
            
            
           
            //// related data filed inside
            // {
            //     "data": "fk_quotestatus.name",
            //     "searchable": true,
            //     render : function(data, type, row) {
            //         return '<span class="badge badge-warning">'+data+'</span>'
            //     }    
            // },
        ],
        // buttons: ['copy', 'excel', 'pdf'],
        "order": [ [1, "desc"]],
        
        // add extra col at index
        "columnDefs": [{
            "targets": [6],
            "data": null,
            "className": "action-link",
            "render": function (data, type, full) {
                return ' <button class="btb btn-danger" onclick="VueDeleteVisit('+data.id+')">X</button> ' +
                        '<a href="/carts?visit_id='+ data.id +'" class="btn btn-sm btn-bordered-primary waves-effect waves-light btn-secondary">view</a>'+
                        '<a href="/carts?visit_id='+ data.id +'" class="mdi mdi-billboard">edit</a>'
                    ;
            }
        }],
    }); //end datatable

    $('#id').keyup(function () {
        timetable.draw();
    });
    $('#title').keyup(function () {
        timetable.draw();
    });
    $('#code').keyup(function () {
        timetable.draw();
    });

    $('#visit_id').keyup(function(){
        timetable.draw();
    });

    $('#fk_customer_user').keyup(function(){
        timetable.draw();
    });
    //$('#fk_customer').select2();        

});


});

</script>

<script>
    // var Toasted = require('vue-toasted').default
    Vue.use(VueToast);
    Vue.component('v-select', VueSelect.VueSelect);
    var app = new Vue({
        
      delimiters: ['[[', ']]'],
      el: '#pos',
      data: {
        selectedVariationBatch : {},
        fk_counter_id : null,
        loading: false,
        products : [{
          value: null, text: 'Choose an option'
        },],
        showModal : false,
        price: null,
        transactionTypes: [],
        paymentmethod : null,

        patients : [{
            id: 0,
            firstname: "",
            lastname: "",
            mobile: "",
            patient_type: {
                p_type_id: null,
                p_type_title: ""
            }
    }],
    transaction : {
        fk_type_id : '',
        amount : '',
        comment : '',
    },
    patient :{},
        selectedVal : 1,
        users:[{name:'',email:'',mobno:''}],
        selected : '',
        patientType:'',
        quantity: 1,

        cart :{
        "token": null,
        "cart": 107,
        "total": 6510.0,
        "subtotal": 6000.0,
        "tax_total": 510.0,
        "count": 1,
        "items": [
            {
                "product_id": 1,
                "image": "/static/no-image.jpg",
                "item": 1,
                "item_title": "Aspirin-hib (aspirin)",
                "price": 150.0,
                "product": 1,
                "quantity": "40.00",
                "line_item_total": "6000.00",
                "fk_store_title": "",
                "stock_quantity":"",
                "batchno": "",
                "is_return": false,
                variation : {id: '',title :"",price:"",sale_price:null,discount:"",inventory:""},
            }
        ],
    },
    customerForm : {
        firstname : "",
        lastname: "",
        email : "",
        patient_type : "",
        mobile : ""
    },

}, //Data Closed
      methods : {

        removeVisit: function(visit_id){
            this.loading= true,
                axios({
                method: 'delete',
                url:  '/api/VisitAPIView/',
                headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}'
                            }, 
                data: {
                  visit_id : visit_id
                  // This is the body part
                }
                }) //.then(response=> cartitem.variation = response.data)
                .then((getResponse) => {
                    console.log(getResponse.data);
                    $('#visitTable').DataTable().ajax.reload();
                    $ToastSuccess(this, 'Visit Removed')
                    $.notify("Visit Removed! ", "success");
                   
                    // this.cartTransaction();
                    

                })
                .catch(function (error) {
                    console.log(error);
                    console.log("Error while fetching market updates");
                    $.notify("Fail to remove item! ", "error");
                });
          
            

        },

        
        
        

        
      }, //end method
      

     

      mounted() {
        window.VueDeleteVisit = this.removeVisit;

      },
    })
</script>

{% endblock %}