{% extends 'personal/dashboard_layout/app.html' %}

{% load static %}

{% block page_title %} {{title}} {% endblock %}
{% block content %}

<!-- http://localhost:8000/reports/ReportHtml?template=ReportHtmlUsers.html -->

<section id="products">

        <div v-if="error.error_status==true"class="alert alert-icon alert-danger alert-dismissible fade show mb-0 row" role="alert">
            <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button> -->
            <i class="mdi mdi-block-helper mr-2"></i>
            
        </div>

        <!-- BEGIN DATATABLE 2 -->
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card-box">   
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group ">
                                <label>ID</label>
                                <input type="text" class="form-control" name="id" id="id" placeholder="Enter ID">
                            </div>
                        </div>
    
                        <div class="col-md-3">
                            <div class="form-group ">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Enter Name" name="title" id="title">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group ">
                                <label>Code</label>
                                <input type="text" class="form-control" placeholder="Enter Code" name="code" id="code">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group ">
                                <label>Generic Name</label>
                                <input type="text" class="form-control" placeholder="Enter Generic  Name" name="generic_name" id="generic_name">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group ">
                                <label>Rack Number</label>
                                <input type="text" class="form-control" placeholder="Enter Rack Number" name="rack_number" id="rack_number">
                            </div>
                        </div>
                    </div>                
                </div>
            </div>
        </div>

        <div class="modal" id="myModal">
            <div class="modal-dialog">
              <div class="modal-content">
          
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Modal Heading</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
          
                <!-- Modal body -->
                <div class="modal-body">
                  Modal body..
                </div>
          
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
          
              </div>
            </div>
          </div>


         <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">                       
                        <div class="table-responsive">
                            <table id="quoteTable" class="table m-0">
                                <div class="clear"></div>
                                <thead class="bg-teal text-white">
                                    <th>ID </th>
                                    <th>Particulars</th>
                                    <th>Code</th>
                                    <th>Generic Name</th>
                                    <th>Manufacturer</th>
                                    <th>Batch no.</th>
                                    <th>Rack Number</th>
                                    <th>Expiry_date</th>
                                    <th>Stock</th>
                                    <th>Actions</th>
                                </thead>
                            </table>
                        </div>
                        <!--end .table-responsive -->
                    </div>
                </div>
            </div>
            <!--end .col -->
        </div>
        <!--end .row -->
        <!-- END DATATABLE 2 -->
    </div>
    <!--end .section-body -->
    
</section>

<style>
    .loader{  /* Loader Div Class */
        position: absolute;
        top:0px;
        right:0px;
        width:100%;
        height:100%;
        background-color:#eceaea;
        background-image: url('https://media0.giphy.com/media/xTk9ZvMnbIiIew7IpW/giphy.gif?cid=ecf05e47tgd4qh1a0t3gvkbnoc2t2soiexi7d3srsu0v2ffg&rid=giphy.gif');
        background-size: 50px;
        background-repeat:no-repeat;
        background-position:center;
        z-index:10000000;
        opacity: 0.8;
        filter: alpha(opacity=40);
    }
</style>
{% endblock %}

{% block script %}

<script>

    //   var csrftoken = Cookies.get('csrftoken');
    let timetable = null;

    $(document).ready(function () {
        $(".date").datepicker("option", "dateFormat", 'yyyy-mm-dd');
        $(function () {
        'use strict';
        $.noConflict();
        timetable = $('#quoteTable').DataTable({
    
            "processing": true,
            "serverSide": true,
            "pageLength": 25,

            "ajax": {
                //"url": "{ url 'quote_index2' %}",
                "url": "/api/VariationBatchTable?format=datatables",
                //"type": "POST",
                "type": "GET",
                headers: { 'X-CSRFToken': '{{ csrf_token }}' },
                //"dataSrc":'results', // django provides data in format {'count': 5, next:'url', 'prev':url, 'results':[]}
    
                //search garda k data jancha
                'data': function (data) {
                    // Append to data
                    data.id =  $('#id').val();
                    data.title = $('#title').val();
                    data.code = $('#code').val();
                    data.rack_number = $('#rack_number').val();
                    data.columns=null; //modify ajax request to make less cluttered
                //added page required for django
                //start offset dont work
                data.page = (data.start + data.length) / data.length ;
                    //data.fk_quotestatus = $('#fk_quotestatus').val();
                }
            },
            "columns": [
                {
                    "data": "id",
                    "orderable": true,
                    "searchable": true
                },
                {
                    "data": "title",
                    "searchable": true,
                    "orderable": true
                },
                {
                    "data": "code",
                    "searchable": true,
                    "orderable": true
                },
                {
                    "data": "generic_name",
                    "searchable": true,
                    "orderable": true
                },
                {
                    "data": "company_name",
                    "searchable": true,
                    "orderable": true
                },
                {
                    "data": "batchno",
                    "searchable": true,
                    "orderable": true
                },
                {
                    "data": "rack_no",
                    "searchable": true,
                    "orderable": true
                },
                
                {
                    "data": "expiry_date",
                    "searchable": true,
                    "orderable": true
                },
                {
                    "data": "quantity",
                    "searchable": true,
                    "orderable": true
                },
                //// related data filed inside
                // {
                //     "data": "fk_quotestatus.name",
                //     "searchable": true,
                //     render : function(data, type, row) {
                //         return '<span class="badge badge-warning">'+data+'</span>'
                //     }    
                // },
            ],
            // buttons: ['copy', 'excel', 'pdf'],
            "order": [ [1, "desc"]],
            
            // add extra col at index
            "columnDefs": [{
                "targets": [9],
                "data": null,
                "className": "action-link",
                "render": function (data, type, full) {
                    return ' <button class="btb btn-danger" onclick="VueDeleteProduct('+data.id+')">&nbsp; X &nbsp;</button> '+''
                    //'<button class="btb btn-danger" onclick="VueLoadProductDetail('+data.id+')"><></button>'                    
                        ;
                }
            }],
        }); //end datatable
    
        $('#id').keyup(function () {
            timetable.draw();
        });
        $('#title').keyup(function () {
            timetable.draw();
        });
        $('#code').keyup(function () {
            timetable.draw();
        });

        //$('#fk_customer').select2();        
    
    });


    });

    Vue.use(VueToast);
   
    var app = new Vue({
       
        delimiters: ['[[', ']]'],
        el: '#products',
        data: {
            isHidden: true,
            jptchanges: '',
            params: { page: 1 },
            num_page: 1,
            groups: [], // back-end data that you need render to template
            error :{
                error_message_body : '',
                error_status : false,
            },
            loading: false,
            products: [],
            items: [],
            showModal: false,

            patients: [{
                id: 0,
                firstname: "",
                lastname: "",
                mobile: "",
                patient_type: {
                    p_type_id: null,
                    p_type_title: ""
                }
            }],

            purchaseForm: {
                fk_variation_id: '',
                batchno: '',
                quantity: '',
                fk_vendor_id: '',
                purchased_date: '',
                expiration_date: '',
                invoice_number: '',
                use_batch: '',
                price: ''
            },
            catlogSaveForm :{
                fk_counter_id : null,
                alert_quantity : null,
                alert_expiry_days : null,
                product_title: null,
                product_code : null,
                generic_name_id : null,
                rack_number : null,
                company_id : null,
                product_code : '',
                brand_id : null,

            },

            patient: {},
            selectedVal: 1,
            users: [{
                name: '',
                email: '',
                mobno: ''
            }],
            selected: '',
            patientType: '',
            quantity: 1,
            productForm: {
                title: "",
                description: "",
            },

        }, //Data Closed
        methods: {
            getProduct: function () {
                this.loading = true;
                axios.get('/api/VariationAPIView/')
                    .then((getResponse) => {
                        console.log("GET Response")
                        console.log(getResponse.data);
                        // data = getResponse.data;
                        // response.send(data);
                        this.products = getResponse.data;
                        this.loading = false;
                        // print(products);
                    })
                    .catch(function (error) {
                        console.log(error);
                        console.log("Error while fetching market updates");
                        this.loading = false;
                    });
            },


            loadProductDetail: function (id) {
                // this.loading = true;
                // $.noConflict();
               
                
                $.ajax({
                url: '/hmsproduct_detail/'+ id + '/',
                type: 'GET',
                dataType: 'json', // added data type
                success: function(res) {
                    // console.log(res);
                    // alert(res);

                    $('#myModal').html(res);
                    jQuery(document).ready(function($){
                    $('#myModal').modal('show');
                });
                   
                }
            });
            // thisRef = this.ref;
            //     axios.get('/hmsproduct_detail/'+ id + '/')
            //         .then((getResponse) => {
            //             console.log("GET Response")
            //             console.log(getResponse.data);
            //             // data = getResponse.data;
            //             // response.send(data);
            //             this.products = getResponse.data;
            //             this.loading = false;
            //             $('#myModal').html(getResponse);
            //             $('#myModal').modal('show');
            //             // print(products);
            //         })
            //         .catch(function (error) {
            //             console.log(error);
            //             console.log("Error while fetching market updates");
            //             this.loading = false;
            //         });
            },


            variationPage: function (product_id) {
                window.location = '/hmsvariations/' + product_id + '/';
            },
            addRow: function () {
                this.addToCart();
                this.cart.items.push({
                    product_id: '',
                    name: '',
                    email: '',
                    mobno: ''
                })

            },
            deleteRow(index) {
                // alert('hi');  
                // console.log(index);
                if (index == 0) {
                    return;
                }
                this.cart.items.splice(index, 1);
            },
       
        
            addProduct: function () {
                this.loading = true,
                    axios({
                        method: 'post',
                        url: '/api/products_add/',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        data: {
                          title : this.catlogSaveForm.product_title,
                          company_id : this.catlogSaveForm.company_id,
                          generic_names_id : this.catlogSaveForm.generic_name_id,
                          company_id : this.catlogSaveForm.company_id,
                          product_code : this.catlogSaveForm.product_code,
                          rack_number : this.catlogSaveForm.rack_number,
                          brand_id : this.catlogSaveForm.brand_id,
                          alert_quantity : this.catlogSaveForm.alert_quantity,
                          alert_expiry_days : this.catlogSaveForm.alert_expiry_days,
                          fk_counter_id : this.catlogSaveForm.fk_counter_id,
                            // This is the body part
                        }
                    }) //.then(response=> cartitem.variation = response.data)
                    .then((getResponse) => {
                        console.log(getResponse.data);
                        $('#quoteTable').DataTable().ajax.reload()
                        // this.getProduct();
                        let toast = this.$toasted.show( this.catlogSaveForm.product_title + " has been added ", { 
                            theme: "toasted-primary", 
                            position: "top-right", 
                            duration : 1500,
                            className: ['your-custom-class',]
                    });
                        this.loading = false;

                    })
                    .catch(error => {
                        this.loading = false;
                        console.log(error);
                        if(error.response){
                            this.error.error_message_body = error.response.data;
                            this.error.error_status = true;
                            let toast = this.$toasted.show( error.response.data.Fail, { 
                            theme: "bubble", 
                            position: "top-right", 
                            duration : 1500,
                           
                    });

                     }
                        console.log("Error while fetching market updates");
                    });

            },

            deleteProduct: function (product_id) {
                this.loading = true,
                    axios({
                        method: 'delete',
                        url: '/api/products_add/',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        data: {
                            variation_id : product_id
                            
                        }
                    })
                     .then(response=> { 
                        $('#quoteTable').DataTable().ajax.reload();
                        $ToastSuccess(this, 'delete bhayo')
                     })
                     
                    .catch(error => {
                        this.loading = false;
                        console.log(error);
                        if(error.response){
                           
                            let toast = this.$toasted.show( error.response.data, { 
                            theme: "bubble", 
                            position: "top-right", 
                            duration : 1500,
                           
                    });

                     }
                        console.log("Error while fetching market updates");
                    });

            },


            addPurchase: function () {
                this.loading = true,
                    axios({
                        method: 'post',
                        url: '/api/PurchaseVariationBatchAPIView/',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        data: {
                            'fk_variation_id': this.purchaseForm.fk_variation_id,
                            'expiry_date': this.purchaseForm.expiration_date,
                            'fk_vendor_id': this.purchaseForm.fk_vendor_id,
                            'purchase_date': this.purchaseForm.purchase_date,
                            'batchno': this.purchaseForm.batchno,
                            'quantity': this.purchaseForm.quantity,
                            'use_batch': this.purchaseForm.use_batch ? 1 : 0, //this.purchaseForm.use_batch
                            'price': this.purchaseForm.price,

                            // This is the body part
                        }
                    }) //.then(response=> cartitem.variation = response.data)
                    .then((getResponse) => {
                        console.log(getResponse.data);
                        // this.getProduct();
                        this.loading = false;
                        this.getProduct();

                    })
                    .catch(function (error) {
                        this.loading = false;
                        console.log(error);
                        console.log("Error while fetching market updates");
                    });

            },

        }, //end method


        mounted() {
            window.VueDeleteProduct = this.deleteProduct;
            window.VueLoadProductDetail = this.loadProductDetail;
            // this.getProduct();
            // this.loadGroupsData();
            //   this.getPatient();
            //   this.getCart();

        },
    })
</script>


{% endblock %}

