
{% extends 'personal/dashboard_layout/app.html' %}

{% load static %}

{% block page_title %}{{page_title}} {% endblock %}
{% block content %}

<div class="col-sm-12" id="pos">
    
    {% comment %}
    <div class="card-box table-responsive">
        <div class="col-lg-12">
            <div class="demo-box p-2">
                <h4 class="header-title"></h4>
                <div class="row mb-4">
                    <div class="col-sm-12">
                        <!-- <button class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#con-close-modal">Add Customer</button> -->
                        <a href="/visit/"><button class="btn btn-secondary">Add New Visit</button></a>
                    </div>

                </div>

                <div class="table-responsive">
                    <table class="table m-0">

                        <thead class="bg-teal text-white">
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>Username</th>
                                <th>Mobile</th>
                                <th>Last Visit</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for patient in object_list %}
                            <tr>
                                <th scope="row">{{ patient.id }}</th>
                                <td>{{patient.firstname}}</td>
                                <td>{{ patient.lastname }}</td>
                                <td>{{patient.get_age}}</td>
                                <td>{{ patient.mobile}}</td>
                                <td>{{patient.mobile}}</td>
                                <td>{{patient.get_last_visit}}</td>
                                <td>
                                    <a class="btn btn-primary" href="/carts?user_id={{patient.id}}">visit details</a>
                                    <!-- <a class="btn btn-edit" data-toggle="modal" @click="RetrivePatientInfo({{patient.id}})" data-target="#con-close-modal">edit</a> -->
                                    <a class="btn btn-secondary" href="/patient/detail/{{patient.id}}/">Edit</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if is_paginated %}
                    <div class="pagination">
                        <span class="step-links">
                            {% if page_obj.has_previous %}          
                                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                            {% endif %}
                    
                            <span class="current">
                              {{ page_obj.number }}
                            </span>
                    
                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">next</a>
                            {% endif %}
                        </span>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endcomment %}

{% comment %}
    <!-- Add new customer modal start -->
<div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title mt-0">Add New Customer</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="field-1" class="control-label">First Name</label>
                            <input type="text" class="form-control" v-model="customerForm.firstname" id="field-1" placeholder="John">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="field-2" class="control-label">Last Name</label>
                            <input type="text" class="form-control" v-model="customerForm.lastname" id="field-2" placeholder="Doe">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="field-3" class="control-label">Mobile Number</label>
                            <input type="text" class="form-control" v-model="customerForm.mobile" id="field-3" placeholder="9841xxxxxx">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="field-6" class="control-label">Patient Type</label>
                            <select class="form-control" v-model="customerForm.patient_type_id">
                                <option value="">Normal</option>
                                {% for patient_type in patient_types %}
                                    <option value="{{patient_type.id}}">{{patient_type.title}}</option>
                                {% endfor %}
                                
                            </select>
                        </div>
                    </div>
                 
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="field-5" class="control-label">Date of Birth (BS)</label>
                            <!-- <input type="text" v-model="customerForm.date_of_birth" class="form-control datepicker" v-model="customerForm.dob" id=""  placeholder=""> -->
                            <vuejs-datepicker :language="en" v-model="customerForm.date_of_birth" :value="customerForm.date_of_birth"></vuejs-datepicker>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="field-6" class="control-label">Email Address</label>
                            <input type="text" class="form-control"  v-model="customerForm.email" id="field-6" placeholder="admin@gmail.com">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="field-4" class="control-label">Country</label>
                           
                            <select class="form-control" @change="fetchState">
                                <option>select</option>
                                {% for country in countries %}
                                    <option value="{{country.name}}">{{country.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="field-4" class="control-label">State</label>
                            <!-- <input type="text" class="form-control" v-model="fk_state_id" id="field-4" placeholder="Country"> -->
                            <select class="form-control" name="perm_district"  v-model="fk_state_id" @change="fetchDistrict">
                                <option value="">Select State</option>
                                <option v-for="data in state.results" :value="data.id">[[ data.name ]]</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="field-4" class="control-label">District</label>
                            <!-- <input type="text" class="form-control" v-model="fk_district_id" id="field-4" placeholder="Country"> -->
                            <select class="form-control" name="perm_district"  v-model="fk_district_id" @change="fetchLocalgov">
                                <option value="">Select District</option>
                                <option v-for="data in district.results" :value="data.id">[[ data.name ]]</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="field-4" class="control-label">Local Gov</label>
                            <!-- <input type="text" class="form-control" v-model="fk_localgov_id" id="field-4" placeholder="Local"> -->
                            <select class="form-control" name="perm_district"  v-model="fk_localgov_id" @change="fetchLocalgov">
                                <option value="">Select Localgov</option>
                                <option v-for="data in localgov.results" :value="data.id">[[ data.name ]]</option>
                            </select>
                        </div>
                    </div>

                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="field-6" class="control-label">Emergency Number</label>
                            <input type="text" class="form-control"  v-model="customerForm.emergency_number" id="field-6" placeholder="">
                        </div>
                    </div>
                    <div class="col-md-6" >
                        <div class="form-group">
                            <label for="field-6" class="control-label">Blood Group</label>
                            <select v-model="customerForm.fk_bloodgroup_id" class="form-control">
                            {% for bg in blood_groups %}
                                <option value="{{bg.id}}">{{bg.title}}</option>
                            {% endfor %}
                            </select>
                           
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info waves-effect waves-light" @click="savePatient">Save changes</button>
                <button  @click="savePatient">save</button>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->
{% endcomment %}
 

<div class="row">
    <div class="col-lg-12">
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card-box">   
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group ">
                                <label>Customer ID</label>
                                <input type="text" class="form-control" placeholder="Enter Visit ID" name="customer_id" id="customer_id">
                            </div>
                        </div>
    
                        <div class="col-md-3">
                            <div class="form-group ">
                                <label>Patient Name</label>
                                <input type="text" class="form-control" placeholder="Enter Patient Name" name="patient" id="firstname">
                            </div>
                        </div>
                    </div>             
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">                       
                <div class="table-responsive">
                    <table id="visitTable" class="table m-0 styled-table">
                        <div class="clear"></div>
                        <thead class="bg-teal text-white">
                            <th>ID </th>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Age</th>
                            <th>Last Visit</th>
                            <th>Type</th>
                            <th>Mobile</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </thead>
                    </table>
                </div>
                <!--end .table-responsive -->
            </div>
        </div>
    </div>
    <!--end .col -->
</div>
</div>
{% endblock %}



{% block script %}
<script>
      $(document).ready(function(){
        $('#datepicker').datepicker({
            format: 'yyyy-mm-dd',
        });
    });

        //   var csrftoken = Cookies.get('csrftoken');
    let timetable = null;

$(document).ready(function () {
    $(".date").datepicker("option", "dateFormat", 'yyyy-mm-dd');
    $(function () {
    'use strict';
    $.noConflict();
    timetable = $('#visitTable').DataTable({

        "processing": true,
        "serverSide": true,
        "pageLength": 10,

        "ajax": {
            //"url": "{ url 'quote_index2' %}",
            "url": "/api/PatientDataTable?format=datatables",
            //"type": "POST",
            "type": "GET",
            headers: { 'X-CSRFToken': '{{ csrf_token }}' },
            //"dataSrc":'results', // django provides data in format {'count': 5, next:'url', 'prev':url, 'results':[]}

            //search garda k data jancha
            'data': function (data) {
                // Append to data
                data.id =  $('#id').val();
                data.patient_fullname = $('#firstname').val();
                // data.code = $('#code').val();
                data.customer_id = $('#customer_id').val();
                data.columns=null; //modify ajax request to make less cluttered
                //added page required for django
                //start offset dont work
                data.page = (data.start + data.length) / data.length ;
                //data.fk_quotestatus = $('#fk_quotestatus').val();
            }
        },
        "columns": [
            {
                "data": "customer_id",
                "orderable": true,
                "searchable": true
            },
            
            {
                "data": "patient_fullname",
                "searchable": true,
                "orderable": true
            },
            {
                "data": "gender",
                "searchable": true,
                "orderable": true
            },
            {
                "data": "age",
                "searchable": true,
                "orderable": true
            },
            {
                "data": "last_visit",
                "searchable": true,
                "orderable": true
            },
            {
                "data": "user_type",
                "searchable": true,
                "orderable": true
            },
            {
                "data": "mobile",
                "searchable": true,
                "orderable": true
            },
            {
                "data": "email",
                "searchable": true,
                "orderable": true
            },
            
            
           
            //// related data filed inside
            // {
            //     "data": "fk_quotestatus.name",
            //     "searchable": true,
            //     render : function(data, type, row) {
            //         return '<span class="badge badge-warning">'+data+'</span>'
            //     }    
            // },
        ],
        // buttons: ['copy', 'excel', 'pdf'],
        "order": [ [1, "desc"]],
        
        // add extra col at index
        "columnDefs": [{
            "targets": [8],
            "data": null,
            "className": "action-link",
            "render": function (data, type, full) {
                return ' <button class="btb btn-danger" onclick="VueDeleteVisit('+data.id+')">X</button> ' +
                        '<a href="/api/VisitAPIView/?customer_id='+ data.id +'" class="btn btn-sm btn-bordered-primary waves-effect waves-light btn-secondary">view</a>'+                       
                        '<a href="/carts?visit_id='+ data.id +'" class="mdi mdi-billboard">edit</a>'
                    ;
            }
        }],
    }); //end datatable

    $('#id').keyup(function () {
        timetable.draw();
    });
    $('#customer_id').keyup(function () {
        timetable.draw();
    });
    $('#firstname').keyup(function () {
        timetable.draw();
    });

    // $('#visit_id').keyup(function(){
    //     timetable.draw();
    // });

    // $('#fk_customer_user').keyup(function(){
    //     timetable.draw();
    // });
    //$('#fk_customer').select2();        

});


});


 
    // var Toasted = require('vue-toasted').default
    Vue.use(VueToast);
    var app = new Vue({
        
        delimiters: ['[[', ']]'],
      el: '#pos',
      data: {
          abcd : '',
        customerForm : {
            firstname : "",
            lastname: "",
            email : "",
            patient_type_id : "",
            mobile : "",
            visit_type: '',
            address: '',
            date_of_birth:  '',//new Date().toLocaleDateString(),
            fk_bloodgroup_id:'',
            emergency_number: ''
    },
        loading: false,
        products : [],
        showModal : false,
        
        patients : [{
            id: 0,
            firstname: "",
            lastname: "",
            mobile: "",
            patient_type: {
                p_type_id: null,
                p_type_title: ""
            }
    }],
    patient :{},
        selectedVal : 1,
        users:[{name:'',email:'',mobno:''}],
        selected : '',
        patientType:'',
        quantity: 1,

        cart :{
        "token": null,
        "cart": 107,
        "total": 6510.0,
        "subtotal": 6000.0,
        "tax_total": 510.0,
        "count": 1,
        "items": [
            {
                "product_id": 1,
                "image": "/static/no-image.jpg",
                "item": 1,
                "item_title": "Aspirin-hib (aspirin)",
                "price": 150.0,
                "product": 1,
                "quantity": "40.00",
                "line_item_total": "6000.00",
                "fk_store_title": "",
                variation : {id: '',title :"",price:"",sale_price:null,discount:"",inventory:""},
            }
        ]
    },
    customerForm : {
        firstname : "",
        lastname: "",
        email : "",
        patient_type : "",
        mobile : "",
        address: "",
        fk_patient_type_id: "",
        dob : ""
    },

}, //Data Closed
      methods : {
        // savePatient: function() {
        //         axios({
        //         method: 'post',
        //         url:  '/api/register/',
        //         headers: {
        //                         'Content-Type': 'application/json',
        //                         'X-CSRFToken': '{{ csrf_token }}'
        //                     }, 
        //         data: {
        //             firstname : this.customerForm.firstname,
        //             lastname : this.customerForm.lastname,
        //             mobile : this.customerForm.mobile,
        //             email : this.customerForm.email,
        //             address : this.customerForm.address,
        //             date_of_brith: this.customerForm.dob,
        //             fk_patient_type_id :this.customerForm.fk_patient_type_id

        //           // This is the body part
        //         },
        //         }) //.then(response=> cartitem.variation = response.data)
        //         .then((getResponse) => {
        //             $('#con-close-modal').modal('hide')
        //             console.log(getResponse.data);
        //             this.patientType = getResponse.data.user_id;
                    

        //         }) 
        //         .catch(function (error) {
        //             console.log(error);
        //             console.log("Error while fetching market updates");
        //         });
                  
        // },

        RetrivePatientInfo: function(id) {
            let loader = Vue.$loading.show({
                // Pass props by their camelCased names
                    container: this.$refs.loadingContainer,
                    canCancel: true, // default false
                    onCancel: this.yourCallbackMethod,
                    color: '#000000',
                    loader: 'spinner',
                    width: 64,
                    height: 64,
                    backgroundColor: '#ffffff',
                    opacity: 0.5,
                    zIndex: 999,
            });
                axios({
                method: 'get',
                url:  '/api/PatientDetailAPIView/'+id,
                headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}'
                            }, 
             
                }) //.then(response=> cartitem.variation = response.data)
                .then(getResponse => {
                    // $('#con-close-modal').modal('hide')
                    console.log(getResponse.data);
                    // this.patientType = getResponse.data.user_id;
                    // this.patientType = getResponse.data.user_id;
                    // this.fk_customer_id = getResponse.data.id,
                    this.customerForm.firstname = getResponse.data.firstname,                
                    console.log('firstname', this.customerForm.firstname);
                    this.customerForm.lastname = getResponse.data.lastname,
                    this.customerForm.mobile = getResponse.data.mobile,
                    this.customerForm.email = getResponse.data.email,
                    this.customerForm.date_of_birth = getResponse.data.date_of_birth,
                    this.customerForm.address =getResponse.data.address,
                    // this.customerForm.patient_type_id = ,
                    this.customerForm.emergency_number = getResponse.data.emergency_number,
                    this.customerForm.fk_bloodgroup_id = getResponse.fk_blood
                    loader.hide();
                   
                    

                }) 
                .catch(function (error) {
                    console.log(error);
                    console.log("Error while fetching market updates");
                });
                  
        }

       
      }, //end method
      

     

      mounted() {
          console.log('mounted patients.html');

      },
    })
</script>

<!-- Datatables init -->
{% endblock %}