{% extends 'personal/dashboard_layout/app.html' %}

{% load static %}

{% block content %}
<div id="pos"> 
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <!-- <div class="panel-heading">
                    <h4>Invoice</h4>
                </div> -->
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-left">
                        <!-- <h3 class="mt-0"><img src="assets/images/logo-sm.png" alt="" height="24" class="mr-1"> -->
                            HMS 
                    </div>
                    <div class="float-right">
                        <h5 class="mt-0">Invoice # <br>
                                <strong>2016-04-23654789</strong>
                            </h5>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <!-- <div class="col-md-3">
                        <select class="form-control select2" v-model="patientType" @change="onChangePatients($event)"> 
                            <option v-for="(item, index) in patients"  v-bind:value="[[  item.id ]]" :key="item.id">[[ item.firstname ]] [[item.lastname]]</option>

                        </select>
                    </div> -->
                    <div class="col-md-3">
                        <input type="text" class="form-control" v-bind:value="_$GF.IFDEF(patient,['patient_type','p_type_title'])" readonly name="patient_type" placeholder="Patient Type">
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="insureee_id" placeholder="Insuree ID">
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#con-close-modal">Add Customer</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="float-right mt-3">
                            <p><strong>Order Date: </strong> Jan 17, 2016</p>
                            <p><strong>Order Status: </strong> <span class="badge badge-danger">Pending</span></p>
                            <p><strong>Order ID: </strong> #123456</p>
                        </div>
                        <div class="flaot-left mt-3">
                            <address>
                                  <strong>Patient : {{cart.user.firstname}} {{cart.user.lastname}} </strong><br>
                                  Contact: {{cart.user.mobile}}<br>
                                 Address : <br>
                                  <abbr title="Phone">P:</abbr> {{cart.user.mobile}}
                                  </address>
                        </div>

                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table mt-4">
                                <thead>
                                    <tr>
                                        <th>S.N</th>
                                        <th>Item</th>
                                        <th>Variation</th>
                                        <th>Exp Date</th>
                                        <th>Quantity</th>
                                        <th>Generic name</th>
                                        <!-- <th>Unit</th> -->
                                        <th>Rate</th>
                                        <th>Line Item</th>
                                        <th>Stock</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for='(cartitem, index) in cart.items'>
                                        <td>[[++index]]</td>
                                        <td>
                                                <select class="form-control select2" name="product" v-bind:value="[[cartitem.product_id]]" @change="onChangeCartItemProduct(cartitem, $event)"> 
                                                        <option v-for="(item, index) in products.results"  v-bind:value="[[item.id]]" :key="item.id" >[[ item['title'] ]]</option>
                                                </select>
                                            
                                        </td>
                                        <td>[[ _$GF.IFDEF(cartitem,['variation','title']) ]]</td>
                                        <td>[[ _$GF.IFDEF(cartitem,['variation','expiry_date']) ]]</td>
                                        <td><input type="text" class="form-control"  @change="onChangeCartItemQuantiy(cartitem, $event)" v-bind:value="[[cartitem.quantity]]"></td>
                                        <td>generic name</td>
                                        <td>[[ _$GF.IFDEF(cartitem,['variation','price']) ]]</td>
                                        <td>[[ _$GF.IFDEF(cartitem,['line_item_total']) ]]</td>
                                        <!-- <td>[[cartitem.variation.expiry_date]]</td> -->
                                        <!-- <td><input type="text" class="form-control" @keyup.enter="lineItem()" v-model="quantity"></td> -->
                                        <!-- <td><input type="text" class="form-control" v-model="quantity"></td> -->
                                        <!-- <td>[[ cartitem.variation.price ]]</td> -->
                                        <!-- <td><td>[[ _$GF.IFDEF(cartitem,['variation','price']) ]]</td></td> -->
                                        <!-- <td>[[ cartitem.variation.price ]]</td> -->
                                        <!-- <td>[[ lineItem() ]]</td> -->
                                        <!-- <td>[[ getStock() ]]</td> -->
                                        <td>[[ _$GF.IFDEF(cartitem,['variation','inventory']) ]]</td>
                                        <td><button class="btn btn-danger"  @click="deleteRow(cartitem.id, index)">X</button></td>
                                    </tr>
                                    <button class="btn btn-primary float-right" @click="addRow" >+</button>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="clearfix mt-4">
                            <h5 class="small text-dark">PAYMENT TERMS AND POLICIES</h5>

                            <small>
                                    All accounts are to be paid within 7 days from receipt of
                                    invoice. To be paid by cheque or credit card or direct payment
                                    online. If account is not paid within 7 days the credits details
                                    supplied as confirmation of work undertaken will be charged the
                                    agreed quoted fee noted above.
                                </small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="text-right"><b>Sub-total:</b> Rs. [[ cart.subtotal ]]</p>
                        <p class="text-right">Discout: Rs. 0.0</p>
                        <p class="text-right">VAT: Rs. [[ cart.tax_total ]]</p>
                        <hr>
                        <h3 class="text-right">Total [[ cart.total ]]</h3>
                    </div>
                </div>
                <hr>
                <div class="hidden-print">
                    <div class="float-right d-print-none">
                        <a href="javascript:window.print()" class="btn btn-dark waves-effect waves-light"><i class="fa fa-print"></i></a>
                        <button class="btn btn-primary waves-effect waves-light" @click="addToCart">Submit</button>
                        <a href="/api/send_invoice_pdf/{{cart_id}}/" target="_blank">invoice</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"  style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-6">
                    <h4 class="modal-title mt-0">Add Customer</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-teal btn-rounded waves-light waves-effect width-md">View</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="field-1" name="firstname" class="control-label">Firstname</label>
                            <input type="text" name="lastname"  v-model="customerForm.firstname" class="form-control" id="field-1" placeholder="John">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="field-2" class="control-label">Lastname</label>
                            <input type="text" name="lastname" v-model="customerForm.lastname" class="form-control" id="field-2" placeholder="Doe">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="field-3" class="control-label">Mobile</label>
                            <input type="text" name="mobile" v-model="customerForm.mobile" class="form-control" id="field-3" placeholder="Address">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="field-3" class="control-label">Email</label>
                            <input type="text" name="email"  v-model="customerForm.email" class="form-control" id="field-3" placeholder="Address">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="field-4" class="control-label">Patient Type</label>
                            <input type="text" class="form-control" id="field-4" placeholder="Boston">
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                <button type="button"  @click="savePatient" class="btn btn-info waves-effect waves-light">Save changes</button>
                
            </div>
        </div>
    </div>
   {{cart_id}}
</div>
<!-- /.modal -->
<div class="loader" v-if="loading"></div>
</div>


{% endblock %}

{% block script %}

<script>
    // var Toasted = require('vue-toasted').default
    Vue.use(VueToast);
    var app = new Vue({
        
        delimiters: ['[[', ']]'],
      el: '#pos',
      data: {
        loading: false,
        products : [],
        showModal : false,
        
        patients : [{
            id: 0,
            firstname: "",
            lastname: "",
            mobile: "",
            patient_type: {
                p_type_id: null,
                p_type_title: ""
            }
    }],
    patient :{},
        selectedVal : 1,
        users:[{name:'',email:'',mobno:''}],
        selected : '',
        patientType:'',
        quantity: 1,

        cart :{
        "token": null,
        "cart": 107,
        "total": 6510.0,
        "subtotal": 6000.0,
        "tax_total": 510.0,
        "count": 1,
        "items": [
            {
                "product_id": 1,
                "image": "/static/no-image.jpg",
                "item": 1,
                "item_title": "Aspirin-hib (aspirin)",
                "price": 150.0,
                "product": 1,
                "quantity": "40.00",
                "line_item_total": "6000.00",
                "fk_store_title": "",
                variation : {id: '',title :"",price:"",sale_price:null,discount:"",inventory:""},
            }
        ]
    },
    customerForm : {
        firstname : "",
        lastname: "",
        email : "",
        patient_type : "",
        mobile : ""
    },

}, //Data Closed
      methods : {
        getProduct: function() {
            axios.get('/api/products/')
                .then((getResponse) => {
                    console.log("GET Response")
                    console.log(getResponse.data);
                    // data = getResponse.data;
                    // response.send(data);
                    this.products = getResponse.data;
                    // print(products);
                })
                .catch(function (error) {
                    console.log(error);
                    console.log("Error while fetching market updates");
                });  
        },
        onChangeCartItemProduct(cartitem, event) {
            // console.log('The new value is: ', event.target.value);
            cartitem.product_id = event.target.value;
            console.log('cartitem',cartitem);
            this.getProductAttributes(cartitem);
            // this.addToCart(cartitem);
        },
        

        onChangeCartItemQuantiy(cartitem, event) {
            // console.log('The new value is: ', event.target.value);
            cartitem.quantity = event.target.value;
            console.log('cartitem',cartitem);
            // this.getProductAttributes(cartitem);
            this.addToCart(cartitem);
        },

        onChangePatients(event) {
            //ajax call garne patient change garna
            // return;
            this.patient = 
            this.patients.filter(x=>x.id==event.target.value)[0];
            // this.getCart(this.patient.id);
            return;
            console.log(this.patient);
            console.log('The patient: ', event.target.value);
            // this.patients.id = event.target.value;
            print('p_id',this.patients.id)
        },
        addRow: function() {  
                // this.addToCart();   
               this.cart.items.push({product_id: '', quantity: 1})
               
            },
        deleteRow(cartitem_id, index){ 
            if(index==0){
                return;
            } 
            if(cartitem_id===undefined){
                console.log('jpt')
                this.cart.items.splice(index,1);
                return;
            }
            this.deleteItem(cartitem_id);
            
            // $.notify("Item removed! ", "success");

        } ,
        
        deleteItem: function(cartitem_id){
            this.loading= true,
                axios({
                method: 'delete',
                url:  'api/delete_cart_item/'+cartitem_id+'/',
                headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}'
                            }, 
                // data: {
                //     product_id: cartitem.product_id,
                //     p_type:  _$GF.IFDEF(this.patient,['patient_type','p_type_id']) 
                //   // This is the body part
                // }
                }) //.then(response=> cartitem.variation = response.data)
                .then((getResponse) => {
                    console.log(getResponse.data);
                    this.loading = false;
                    $.notify("Item removed! ", "success");
                    this.getCart({{cart_id}});

                })
                .catch(function (error) {
                    this.loading = false;
                    console.log(error);
                    console.log("Error while fetching market updates");
                    $.notify("Fail to remove item! ", "error");
                });
          
            

        },
        lineItem: function(){
         return this.variation.price * this.quantity
        },
        getStock: function(){
            if(this.variation.inventory - this.quantity > 0){
                return (this.variation.inventory - this.quantity)
            }
            else {
                // alert('please input less than '+ this.quantity);
                this.quantity = 1;
            }
        
        },
        getPatient: function() {
            this.loading = true;
            axios.get('/api/patients/')
                .then((getResponse) => {
                    console.log("GET Response - patients")
                    console.log(getResponse.data);
                    // data = getResponse.data;
                    // response.send(data);
                    this.patients = getResponse.data;
                    this.loading = false;
                    // print(products);
                })
                .catch(function (error) {
                    this.loading = false;
                    console.log(error);
                    console.log("Error while fetching market updates");
                });  
        },

        getCart: function(cart_id) {
            this.loading = true;
            axios.get('/api/cart/', {
                
                params: {
                    cart_id: cart_id    
                },
                headers: {
                "Content-type": "application/json; charset=UTF-8"
            },
            })
                .then((getResponse) => {
                    console.log("GET cart")
                    console.log(getResponse.data);
                    // data = getResponse.data;
                    // response.send(data);
                    // this.patients = getResponse.data;
                    // print(products);
                    this.cart = getResponse.data;
                    console.log('cart-data', this.cart);
                    this.loading = false;
                    this.$forceUpdate();

                })
                .catch(function (error) {
                    this.loading = false;
                    console.log(error);
                    console.log("Error while fetching market updates");
                });  
        },

        getProductAttributes: function(cartitem) {
            this.loading= true,
                axios({
                method: 'post',
                url:  '/api/VariationByPatientAPIView/',
                headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}'
                            }, 
                data: {
                    product_id: cartitem.product_id,
                    p_type:  _$GF.IFDEF(this.patient,['patient_type','p_type_id']) 
                  // This is the body part
                }
                }) //.then(response=> cartitem.variation = response.data)
                .then((getResponse) => {
                    console.log(getResponse.data);
                    // data = getResponse.data;
                    // response.send(data);
                    // this.patients = getResponse.data;
                    // this.variation = getResponse.data;
                    cartitem.variation= getResponse.data; 
                    console.log(cartitem);
                    this.$forceUpdate();
                    this.loading = false;
                    // cartitem.variation.title = 'jpt';
                    //Vue.set(cartitem, 'variation', getResponse.data);
                    
                    // print(products);
                })
                .then(r => {
                    this.addToCart(cartitem)
                    console.log('after product attribute change',cartitem);
                    
                }
                    )
                .catch(function (error) {
                    this.loading = false;
                    console.log(error);
                    console.log("Error while fetching market updates");
                });
                  
        },

        savePatient: function() {
                axios({
                method: 'post',
                url:  '/api/register/',
                headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}'
                            }, 
                data: {
                    firstname : this.customerForm.firstname,
                    lastname : this.customerForm.lastname,
                    mobile : this.customerForm.mobile,
                    email : this.customerForm.email,

                  // This is the body part
                },
                }) //.then(response=> cartitem.variation = response.data)
                .then((getResponse) => {
                    $('#con-close-modal').modal('hide')
                    console.log(getResponse.data);
                    this.patientType = getResponse.data.user_id;
                    

                }) 
                .catch(function (error) {
                    console.log(error);
                    console.log("Error while fetching market updates");
                });
                  
        },

        addToCart : function(cartitem){
            // var ref = this;
            console.log(JSON.stringify(cartitem));
            if(!cartitem.variation)
            {return;}
            axios({
                method: 'post',
                url:  '/api/CartItemSaveView/',
                headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}'
                            }, 
                data: {
                    cart_id : {{cart_id}},
                    item: cartitem.variation.id,
                    quantity: cartitem.quantity,
                    cartitem_id : cartitem.id
                    // fk_store_id : 1,
                    // cart_id : {{cart_id}},
                    // p_id: this.patients.id, 
                  // This is the body part
                }
                })
                .then(response => {
                    console.log(response);
                    this.getCart({{cart_id}});
                    $.notify("Item updated! ", "success");

                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        
      }, //end method
      

     

      mounted() {
          this.getProduct();
          this.getPatient();
          this.getCart({{cart_id}});

      },
    })
  </script>


{% endblock %}

