{% extends 'personal/dashboard_layout/app.html' %}

{% load static %}

{% block content %}


<div class="row" id="products">
    <div class="col-lg-12">
        <div class="card-box">
            <div class="float-left mb-3">
                <h4 class="text-dark header-title">Product List</h4>
            </div>

            <div class="float-right mb-3">
                <button data-toggle="modal" data-target="#add-category" class="btn btn-primary waves-effect waves-light">
                    <i class="mdi mdi-home-map-marker"></i>NEW
                </button>
            </div>

            <!-- ADD MODAL CATEGORY -->
            <div class="modal fade none-border" id="add-category">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title mt-0">Add Purchase</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body p-4">
                            
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label">Category Name</label>
                                        <input class="form-control form-white" placeholder="Enter name" type="text" name="category-name" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label">Choose Product</label>
                                        <select class="form-control form-white" v-model="purchaseForm.fk_variation_id" data-placeholder="Choose a product..." name="category-color">
                                            {% for product in products %}
                                                <option  v-bind:value="{{product.id}}">{{product.title}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="control-label">Batch number</label>
                                        <input class="form-control form-white" v-model="purchaseForm.batchno" placeholder="Enter name" type="text" name="category-name" />
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">Quantity</label>
                                        <input class="form-control form-white" v-model="purchaseForm.quantity" placeholder="Enter name" type="text" name="category-name" />
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label"> Supplier/Vendor</label>
                                        <select class="form-control form-white" v-model="purchaseForm.fk_vendor_id" data-placeholder="Choose a product..." name="category-color">
                                            {% for supplier in suppliers %}
                                                <option v-bind:value="{{supplier.id}}">{{supplier.name}}</option>
                                            {% endfor %}
                                            
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label">Purchase Date</label>
                                        <input class="form-control form-white date" v-model="purchaseForm.purchased_date" data-date-format='yyyy-mm-dd' placeholder="Enter name" type="text" name="" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label">Expiration Date</label>
                                        <input class="form-control form-white date" v-model="purchaseForm.expiration_date" data-date-format='yyyy-mm-dd' placeholder="Enter name" type="text" name="" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label">Invoice/bill number</label>
                                        <input class="form-control form-white" v-model="purchaseForm.invoice_number" placeholder="Enter name" type="text" name="" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label">Price</label>
                                        <input class="form-control form-white" v-model="purchaseForm.price" placeholder="Price" type="text" name="" />
                                    </div>
                                </div>
                                <div class="switchery-demo">
                                    <label class="control-label">Use Batch</label>
                                    <input type="checkbox" checked data-plugin="switchery" data-color="#64b0f2" data-size="small" />
                                </div>

                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                            <!-- <button @click="addPurchase">save</button> -->
                            <button type="button" class="btn btn-danger waves-effect waves-light save-category" @click="addPurchase" data-dismiss="modal">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MODAL -->

            <div class="table-responsive">
                <table class="table m-0 table-colored-bordered table-bordered-teal">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Product Name</th>
                            <th>Generic Name</th>
                            <th>Category</th>
                            <th>Manufacturer</th>
                            <th>Quantity</th>
                            <th>Batch</th>
                            <th>Expired Date</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in products"  v-bind:value="[[  item.id ]]" :key="item.id">
                            <td>[[++index]]</td>

                            <td>
                                [[item.fk_variation.title]]
                            </td>

                            <td>
                                <a href="#">[[item.batchno]]</a>
                            </td>

                            <td>
                                [[item.purchase_date]]
                            </td>
                            <td>
                                [[item.expiry_date]]
                            </td>
                            <td>[[item.quantity]]</td>
                            <td>[[item.use_batch]]</td>
                            <td></td>
                            <td>
                                <a href="#" class="table-action-btn h3"><i class="mdi mdi-pencil-box-outline text-success"></i></a>
                                <a href="#" class="table-action-btn h3"><i class="mdi mdi-close-box-outline text-danger"></i></a>
                                <a href="#"  @click="variationPage([[item.id]])" class="table-action-btn h3"><i class="mdi mdi-close-box-outline text-warning"></i></a>
                            </td>
                            <!-- <tr v-for="(variation, index) in item.variation_set"  v-bind:value="[[  variation.id ]]" :key="variation.id">
                                <td>[[variation.title]]</td>
                            </tr> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Rolling Stone Top 500 albums of all time</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <table id="albums" class="table m-0 table-colored-bordered table-bordered-teal" style="width:100%">
          <thead>
            <tr>
              <th>Drug</th>
              <th>Added date</th>
              <th>Expiry Date</th>
              <th>Stock</th>
              
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
  <script>
      $(document).ready(function() {
        $.noConflict();
          var table = $('#albums').DataTable({
              "serverSide": true,
              "ajax": "/api/VariationBatchAPIView/?format=datatables&fk_variation=asp",
              "columns": [                
                  {"data": "fk_variation_name", "name": "fk_variation_name", "searchable": true},
                  {"data": "created_at", "name": "created_at", "searchable": true},
                  {"data": "expiry_date", "name": "expiry_date"},
                  {"data": "quantity", "name": "quantity", "sortable": true},
              ]
          });
      });
  </script>
</body>
</html>

<style>
    .loader{  /* Loader Div Class */
        position: absolute;
        top:0px;
        right:0px;
        width:100%;
        height:100%;
        background-color:#eceaea;
        background-image: url('https://media0.giphy.com/media/xTk9ZvMnbIiIew7IpW/giphy.gif?cid=ecf05e47tgd4qh1a0t3gvkbnoc2t2soiexi7d3srsu0v2ffg&rid=giphy.gif');
        background-size: 50px;
        background-repeat:no-repeat;
        background-position:center;
        z-index:10000000;
        opacity: 0.8;
        filter: alpha(opacity=40);
    }
</style>
{% endblock %}

{% block script %}

<script>
    $(document).ready(function () {
        $(".date").datepicker("option", "dateFormat", 'yyyy-mm-dd');
    });

    Vue.use(VueToast);
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#products',
        data: {
            loading: false,
            products: [],
            items: [],
            showModal: false,

            patients: [{
                id: 0,
                firstname: "",
                lastname: "",
                mobile: "",
                patient_type: {
                    p_type_id: null,
                    p_type_title: ""
                }
            }],

            purchaseForm: {
                fk_variation_id: '',
                batchno: '',
                quantity: '',
                fk_vendor_id: '',
                purchased_date: '',
                expiration_date: '',
                invoice_number: '',
                use_batch: '',
                price: ''
            },
            patient: {},
            selectedVal: 1,
            users: [{
                name: '',
                email: '',
                mobno: ''
            }],
            selected: '',
            patientType: '',
            quantity: 1,
            productForm: {
                title: "",
                description: "",
            },

        }, //Data Closed
        methods: {
            getProduct: function () {
                this.loading = true;
                axios.get('/api/VariationBatchAPIView/')
                    .then((getResponse) => {
                        console.log("GET Response")
                        console.log(getResponse.data);
                        // data = getResponse.data;
                        // response.send(data);
                        this.products = getResponse.data;
                        this.loading = false;
                        // print(products);
                    })
                    .catch(function (error) {
                        console.log(error);
                        console.log("Error while fetching market updates");
                        this.loading = false;
                    });
            },
            variationPage: function (product_id) {
                window.location = '/hmsvariations/' + product_id + '/';
            },
            addRow: function () {
                this.addToCart();
                this.cart.items.push({
                    product_id: '',
                    name: '',
                    email: '',
                    mobno: ''
                })

            },
            deleteRow(index) {
                // alert('hi');  
                // console.log(index);
                if (index == 0) {
                    return;
                }
                this.cart.items.splice(index, 1);
            },
            // getProductAttributes: function(cartitem) {
            //     this.loading= true,
            //         axios({
            //         method: 'post',
            //         url:  '/api/VariationByPatientAPIView/',
            //         headers: {
            //                         'Content-Type': 'application/json',
            //                         'X-CSRFToken': '{{ csrf_token }}'
            //                     }, 
            //         data: {
            //             product_id: cartitem.product_id,
            //             p_type:  _$GF.IFDEF(this.patient,['patient_type','p_type_id']) 
            //           // This is the body part
            //         }
            //         }) //.then(response=> cartitem.variation = response.data)
            //         .then((getResponse) => {
            //             console.log(getResponse.data);
            //             // data = getResponse.data;
            //             // response.send(data);
            //             // this.patients = getResponse.data;
            //             // this.variation = getResponse.data;
            //             cartitem.variation= getResponse.data; 
            //             console.log(cartitem);
            //             this.$forceUpdate();
            //             this.loading = false;
            //             // cartitem.variation.title = 'jpt';
            //             //Vue.set(cartitem, 'variation', getResponse.data);

            //             // print(products);
            //         }) 
            //         .catch(function (error) {
            //             this.loading = false;
            //             console.log(error);
            //             console.log("Error while fetching market updates");
            //         });

            // },

            addProduct: function () {
                this.loading = true,
                    axios({
                        method: 'post',
                        url: '/api/products_add/',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        data: {
                            title: productForm.title,
                            description: productForm.description,
                            // This is the body part
                        }
                    }) //.then(response=> cartitem.variation = response.data)
                    .then((getResponse) => {
                        console.log(getResponse.data);
                        // this.getProduct();
                        this.loading = false;

                    })
                    .catch(function (error) {
                        this.loading = false;
                        console.log(error);
                        console.log("Error while fetching market updates");
                    });

            },

            addPurchase: function () {
                this.loading = true,
                    axios({
                        method: 'post',
                        url: '/api/PurchaseVariationBatchAPIView/',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        data: {
                            'fk_variation_id': this.purchaseForm.fk_variation_id,
                            'expiry_date': this.purchaseForm.expiration_date,
                            'fk_vendor_id': this.purchaseForm.fk_vendor_id,
                            'purchase_date': this.purchaseForm.purchase_date,
                            'batchno': this.purchaseForm.batchno,
                            'quantity': this.purchaseForm.quantity,
                            'use_batch': this.purchaseForm.use_batch ? 1 : 0, //this.purchaseForm.use_batch
                            'price': this.purchaseForm.price,

                            // This is the body part
                        }
                    }) //.then(response=> cartitem.variation = response.data)
                    .then((getResponse) => {
                        console.log(getResponse.data);
                        // this.getProduct();
                        this.loading = false;
                        this.getProduct();

                    })
                    .catch(function (error) {
                        this.loading = false;
                        console.log(error);
                        console.log("Error while fetching market updates");
                    });

            },

        }, //end method


        mounted() {
            this.getProduct();
            //   this.getPatient();
            //   this.getCart();

        },
    })
</script>


{% endblock %}

