{% extends 'personal/dashboard_layout/app.html' %}

{% load static %}
{% block page_title %} Purchase {% endblock %}
{% block content %}
<style>
    .your-custom-class {
    background-color: #59b460 !important; 
}
</style>
<div id="purchase">
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">   
                <form>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group ">
                                <label >Bill Date</label>
                                <input type="text" v-model="purchaseForm.bill_date" class="form-control" value="{{purchase.bill_date}}">
                            </div>
                        </div>
    
                        <div class="col-md-4">
                            <div class="form-group ">
                                <label >Purchase Date</label>
                                <input type="text" v-model="purchaseForm.purchase_date"  class="form-control" placeholder="" value="{{purchase.purchase_date}}">
                            </div>
                        </div>
                        
    
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Supplier</label>
                                <select class="form-control" v-model="purchaseForm.fk_supplier_id">
                                {% for vendor in vendors %}   
                                    <option value="{{vendor.id}}">
                                        {{vendor.name}}
                                    </option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>
    
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Bill No.</label>
                                <input type="text"  v-model="purchaseForm.bill_number" class="form-control" placeholder="bill no.">
                            </div>
                        </div>
    
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Payment Mode</label>
                                <select class="form-control" v-model="purchaseForm.fk_payment_method_id">
                                    {% for payment in payment_methods %}
                                    <option value="{{payment.id}}">
                                        {{payment.title}}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
    
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Choose Drug</label>
                                <select class="form-control select2"  @change="savePurchaseItem($event)"> 
                                    <option v-for="(item, index) in products"  v-bind:value="[[  item.id ]]" :key="item.id">[[ item.title ]]</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>                    
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table m-0">
                    <thead class="bg-teal text-white">
                        <tr>
                            <th>#</th>
                            <th>Code</th>
                            <th>Particular</th>
                            <th>Batch</th>
                            <th>Expiry</th>
                            <th>Packaging</th>
                            <th>qty</th>
                            <th>free</th>
                            <th>total qty</th>
                            <th>cp</th>
                            <th>sp</th>
                            <th>amount</th>
                            <th>subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in purchaseitems"  v-bind:value="[[  item.id ]]" :key="item.id">
                            <td>
                                [[++index]]
                            </td>
                            <td>
                                13360
                            </td>
                            <td>
                                [[item.fk_variation.title]]
                            </td>
                            <td>
                                <input type="text"  class="form-control" >
                            </td>
                            <td>
                                <input type="text"  class="form-control" >
                            </td>

                            <td>
                                [[item.id]]
                            </td>
                            <td>
                                <input type="number"  class="form-control" >
                            </td>
                            <td>
                                [[item.id]]
                            </td>
                            <td>
                                [[item.id]]
                            </td>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">Rs.</span> 
                                    </span>
                                    <input type="text" class="form-control">
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">Rs.</span> 
                                    </span>
                                    <input type="text" class="form-control">
                                </div>
                            </td>
                            <td>Rs.0.00</td>
                            <td>Rs.0.00</td>
                            <td><button class="btn btn-danger" @click="deletePurchaseItem(item.id)">x</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block script %}

<script>
    // var Toasted = require('vue-toasted').default
    Vue.use(Toasted)
  
    Vue.component('v-select', VueSelect.VueSelect);
    var app = new Vue({
       
        delimiters: ['[[', ']]'],
      el: '#purchase',
      data: {   
        purchaseitems : [],    
        loading: false,
        products : [{
          value: null, text: 'Choose an option'
        },],
        showModal : false,
        
    transaction : {
        fk_type_id : '',
        amount : ''
    },
    purchaseForm :{
        purchase_date : '',
        bill_date : '',
        fk_supplier_id : '',
        bill_number : '',
        fk_payment_method_id : '',
        fk_variation_id : '',
    },
        cart :{
        "token": null,
        "cart": 107,
        "total": 6510.0,
        "subtotal": 6000.0,
        "tax_total": 510.0,
        "count": 1,
        "items": [
            {
                "product_id": 1,
                "image": "/static/no-image.jpg",
                "item": 1,
                "item_title": "Aspirin-hib (aspirin)",
                "price": 150.0,
                "product": 1,
                "quantity": "40.00",
                "line_item_total": "6000.00",
                "fk_store_title": "",
                "stock_quantity":"",
                "batchno": "",
                "is_return": false,
                variation : {id: '',title :"",price:"",sale_price:null,discount:"",inventory:""},
            }
        ],
    },
  

}, //Data Closed
      methods : {
        getProduct: function() {
            axios.get('/api/VariationAPIView/')
                .then((getResponse) => {
                    console.log("GET Response")
                    console.log(getResponse.data);
                    // data = getResponse.data;
                    // response.send(data);
                    this.products = getResponse.data;
                    // this.products.unshift(initvalue);
                    console.log('product',this.products);
                })
                .catch(function (error) {
                    console.log(error);
                    console.log("Error while fetching market updates");
                });  
        },

        getPurchaseItem: function() {
            axios.get('/api/PurchaseOrderAPIView/',{
            params: {
                    purchase_id: {{purchase_id}}    
                },
            }
                )
                .then(getResponse => {
                    console.log("GET Response")
                    console.log(getResponse.data);
                    // data = getResponse.data;
                    // response.send(data);
                    this.purchaseitems = getResponse.data;
                    // this.products.unshift(initvalue);
                    // console.log('product',this.products);
                })
                .catch(function (error) {
                    console.log(error);
                    console.log("Error while fetching market updates");
                });  
        },


        savePurchaseItem: function(event) {
                axios({
                method: 'post',
                url:  '/api/PurchaseOrderAPIView/',
                headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}'
                            }, 
                data: {
                    purchase_id : {{purchase_id}},
                    purchase_date : this.purchaseForm.purchase_date,
                    bill_date : this.purchaseForm.bill_date,
                    fk_supplier_id : this.purchaseForm.fk_supplier_id,
                    bill_number : this.purchaseForm.bill_number,
                    fk_payment_method_id : this.purchaseForm.fk_payment_method_id,
                    fk_variation_id : event.target.value,//this.purchaseForm.fk_variation_id,
                },
                }) //.then(response=> cartitem.variation = response.data)
                .then((getResponse) => {                
                    console.log(getResponse.data);
                    let toast = this.$toasted.show("Purchase Added", { 
                        theme: "toasted-primary", 
                        position: "top-right", 
                        duration : 1500,
                        className: ['your-custom-class',]
                    });
                    this.getPurchaseItem();
                }) 
                .catch(function (error) {
                    console.log(error);
                    console.log("Error while fetching market updates");
                });
                  
        },
        deletePurchaseItem(purchaseitemId){
            axios({
                method: 'delete',
                url:  '/api/PurchaseOrderAPIView/',
                headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}'
                            }, 
                data: {
                    purchaseitem_id : purchaseitemId
                },
                }) //.then(response=> cartitem.variation = response.data)
                .then((getResponse) => {                
                    console.log(getResponse.data);
                    this.getPurchaseItem();
                    let toast = this.$toasted.show("Removed !!", { 
                        theme: "bubble", 
                        position: "top-right", 
                        duration : 1500
                    });
                }) 
                .catch(function (error) {
                    console.log(error);
                    console.log("Error while fetching market updates");
                });
            }

      }, //end method
      

     

      mounted() {
          this.getProduct();
          this.getPurchaseItem();
     
      },
    })
  </script>


{% endblock %}