{% extends 'personal/dashboard_layout/app.html' %}

{% load static %}

{% block content %}

<div class="row" id="products">
    <div class="col-lg-12">
        <div class="card-box">
            <div class="row">
                <div class="col-sm-6">
                    <form>
                        <div class="form-group search-box">
                            <input type="text" id="search-input" class="form-control product-search" placeholder="Search here...">
                            <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-4">
                    <a href="#custom-modal" class="btn btn-success btn-rounded btn-md waves-effect waves-light mb-4" data-animation="fadein" data-plugin="custommodal" data-overlayspeed="200" data-overlaycolor="#36404a"><i class="md md-add"></i> Add New Item</a>
                </div>
                <div class="col-sm-2">
                   Adding variations to [[product_description.product.title]]
                   <p>[[product_description.description]]</p>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-hover agents-mails-checkbox m-0  table-centered table-actions-bar">
                    <thead>
                        <tr>
                            <th style="width: 50px;">
                                <div class="checkbox checkbox-primary checkbox-single mr-3 ml-1">
                                    <input id="action-checkbox" type="checkbox">
                                    <label for="action-checkbox"></label>
                                </div>
                            </th>
                            <!-- <th>
                                <div class="btn-group dropdown ml-2">
                                    <button type="button" class="btn btn-light btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="mdi mdi-chevron-down"></i></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" class="dropdown-item">Action</a></li>
                                        <li><a href="#" class="dropdown-item">Another action</a></li>
                                        <li><a href="#" class="dropdown-item">Something else here</a></li>
                                        <li class="dropdown-divider"></li>
                                        <li><a href="#" class="dropdown-item">Separated link</a></li>
                                    </ul>
                                </div>
                            </th> -->
                            <th>Name</th>
                            <th>Price</th>
                            <th>Sale Price</th>
                            <th>Inventory</th>
                            <th>Keep Stock</th>
                            <th>Expiry Date</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="active" v-for="(item, index) in products"  v-bind:value="[[  item.id ]]" :key="item.id">
                            <td>[[++index]]</td>
                            <!-- <td>
                                <div class="checkbox checkbox-primary checkbox-single mr-3 ml-1">
                                    <input id="checkbox2" type="checkbox" checked="">
                                    <label for="checkbox2"></label>
                                </div>
                            </td> -->

                            <td>
                                [[item.title]]
                            </td>

                            <td>
                                <a href="#">[[item.price]]</a>
                            </td>

                            <td>
                                [[item.sale_price]]
                            </td>
                            <td>
                                [[item.inventory]]
                            </td>
                            <td>[[item.expiry_date]]</td>
                            <td></td>
                            <td>
                                <a href="#" class="table-action-btn h3"><i class="mdi mdi-pencil-box-outline text-success"></i></a>
                                <a href="#" class="table-action-btn h3"><i class="mdi mdi-close-box-outline text-danger"></i></a>
                                <a href="#"  @click="variationPage([[item.id]])" class="table-action-btn h3"><i class="mdi mdi-close-box-outline text-warning"></i></a>
                            </td>
                            <!-- <tr v-for="(variation, index) in item.variation_set"  v-bind:value="[[  variation.id ]]" :key="variation.id">
                                <td>[[variation.title]]</td>
                            </tr> -->
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- end table responsive -->
        </div>
        <!-- end card-box -->

        <div>
            <ul class="pagination pagination-split justify-content-end">
                <li class="page-item disabled">
                    <a href="#" class="page-link"><i class="fa fa-angle-left"></i></a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link">1</a>
                </li>
                <li class="page-item active">
                    <a href="#" class="page-link">2</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link">3</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link">4</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link">5</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link"><i class="fa fa-angle-right"></i></a>
                </li>
            </ul>

        </div>

    </div>
    <!-- end col -->

</div>
<!-- <div class="loader" v-if="loading"></div>
</div> -->
<style>
    .loader{  /* Loader Div Class */
position: absolute;
top:0px;
right:0px;
width:100%;
height:100%;
background-color:#eceaea;
background-image: url('https://media0.giphy.com/media/xTk9ZvMnbIiIew7IpW/giphy.gif?cid=ecf05e47tgd4qh1a0t3gvkbnoc2t2soiexi7d3srsu0v2ffg&rid=giphy.gif');
background-size: 50px;
background-repeat:no-repeat;
background-position:center;
z-index:10000000;
opacity: 0.8;
filter: alpha(opacity=40);
}
</style>

{% endblock %}

{% block script %}

<script>
    Vue.use(VueToast);
    var app = new Vue({
        delimiters: ['[[', ']]'],
      el: '#products',
      data: {
        loading: false,
        products : [],
        product_description : [],
        showModal : false,
        
        patients : [{
            id: 0,
            firstname: "",
            lastname: "",
            mobile: "",
            patient_type: {
                p_type_id: null,
                p_type_title: ""
            }
    }],
    patient :{},
        selectedVal : 1,
        users:[{name:'',email:'',mobno:''}],
        selected : '',
        patientType:'',
        quantity: 1,
    productForm : {
        title : "",
        description: "",
    },

}, //Data Closed
      methods : {
        getProductVariation: function() {
            this.loading = true;
            axios.get('/api/ProductVariationRetrive/{{product_id}}/')
                .then((getResponse) => {
                    console.log("GET Response")
                    console.log(getResponse.data);
                    // data = getResponse.data;
                    // response.send(data);
                    this.products = getResponse.data.product.variation_set;
                    this.product_description = getResponse.data;
                    this.loading = false;
                    // print(products);
                })
                .catch(function (error) {
                    console.log(error);
                    console.log("Error while fetching market updates");
                    this.loading = false;
                });  
        },
        variationPage : function(product_id) {
            window.location = '';
        },
        addRow: function() {  
                this.addToCart();   
               this.cart.items.push({product_id: '',name:'',email:'',mobno:''})
               
            },
        deleteRow(index){ 
            // alert('hi');  
            // console.log(index);
            if(index==0){
                return;
            }
            this.cart.items.splice(index,1);             
        } ,
        // getProductAttributes: function(cartitem) {
        //     this.loading= true,
        //         axios({
        //         method: 'post',
        //         url:  '/api/VariationByPatientAPIView/',
        //         headers: {
        //                         'Content-Type': 'application/json',
        //                         'X-CSRFToken': '{{ csrf_token }}'
        //                     }, 
        //         data: {
        //             product_id: cartitem.product_id,
        //             p_type:  _$GF.IFDEF(this.patient,['patient_type','p_type_id']) 
        //           // This is the body part
        //         }
        //         }) //.then(response=> cartitem.variation = response.data)
        //         .then((getResponse) => {
        //             console.log(getResponse.data);
        //             // data = getResponse.data;
        //             // response.send(data);
        //             // this.patients = getResponse.data;
        //             // this.variation = getResponse.data;
        //             cartitem.variation= getResponse.data; 
        //             console.log(cartitem);
        //             this.$forceUpdate();
        //             this.loading = false;
        //             // cartitem.variation.title = 'jpt';
        //             //Vue.set(cartitem, 'variation', getResponse.data);
                    
        //             // print(products);
        //         }) 
        //         .catch(function (error) {
        //             this.loading = false;
        //             console.log(error);
        //             console.log("Error while fetching market updates");
        //         });
                  
        // },

        addProduct: function() {
            this.loading= true,
                axios({
                method: 'post',
                url:  '/api/products_add/',
                headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}'
                            }, 
                data: {
                    title: productForm.title,
                    description: productForm.description,
                  // This is the body part
                }
                }) //.then(response=> cartitem.variation = response.data)
                .then((getResponse) => {
                    console.log(getResponse.data);
                    // this.getProduct();
                    this.loading = false;

                }) 
                .catch(function (error) {
                    this.loading = false;
                    console.log(error);
                    console.log("Error while fetching market updates");
                });
                  
        },
        
      }, //end method
      

     

      mounted() {
          this.getProductVariation();
        //   this.getPatient();
        //   this.getCart();

      },
    })
  </script>


{% endblock %}

