{% extends 'personal/dashboard_layout/app.html' %}

{% load static %}
{% block page_title %} Register New Visit {% endblock %}
{% block content %}
<div id="add_visit">
    <div class="row">
        <div class="col-md-4">
            <div class="card-box">
                <h4 class="header-title">Visit </h4>
                <p class="sub-header">
                   Register New Visit 
                </p>
    
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-horizontal">
                            <div class="form-group row">
                                <label> Select Patient</label>
                                <div class="col-sm-8">
                                    <!-- <select class="form-control" v-model="fk_customer_user_id">
                                        <option  v-for="(patient, index) in patients" v-bind:value="patient.id">[[ patient.firstname ]] [[patient.lastname]] [[patient.mobile]]</option>
                                    </select> -->
                                
                                    <v-select label="fullname" :options="patients"  v-model="fk_customer_user_id"></v-select>
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#con-close-modal">+</button>
                                </div>
                            </div>
    
                            <div class="form-group row">
                                <label class="col-sm-2 control-label"> Reffer Doctor</label>
                                <div class="col-sm-10">
                                    <select class="form-control" v-model="fk_doctor_user_id">
                                        <option  v-for="(doctor, index) in doctors.results" v-bind:value="doctor.id">[[ doctor.firstname ]] [[doctor.lastname]] [[doctor.mobile]]</option>
                                    </select>
                                </div>
                             
                            </div>
                            <div class="row">
                                <label class="col-sm-2 control-label"> Visit Type</label>
                                <div class="col-sm-10">
                                    <div class="form-group">                                   
                                        <select class="form-control" v-model="visit_type">
                                            {% for visit_type in visits_types %}
                                                <option value="{{visit_type.id}}">{{visit_type.title}}</option>
                                            {% endfor %}
                                            
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 control-label">Appointment Date</label>
                                
                                    <div class="input-group col-sm-8">                                       
                                        <vuejs-datepicker :format="customAppointmentFormatter" v-model="customerForm.appointmentDate"></vuejs-datepicker>    
                                    </div>
                            </div>

                            <div class="row">
                                <label class="col-md-2 control-label"> Remarks</label>
                                <div class="col-sm-10">
                                    <input type="text" v-model="remarks" class="form-control" value="" placeholder="Remarks">
                                </div>
                            </div>
    
                           
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <center><button class="btn btn-info" @click="saveVisit">Add</button></center>
                        </div>
                        
                    </div>
    
                </div>
                
                
            
                </div>
                <!-- end row -->
    
                <!-- end row -->
    
        </div>
        <!-- <div class="col-md-8">
            <div class="card-box">
                <h4 class="header-title mb-4">Default Tabs</h4>

                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                            <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                            <span class="d-none d-sm-block">Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                            <span class="d-block d-sm-none"><i class="fas fa-user"></i></span>
                            <span class="d-none d-sm-block">Profile</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="message-tab" data-toggle="tab" href="#message" role="tab" aria-controls="message" aria-selected="false">
                            <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
                            <span class="d-none d-sm-block">Messages</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="setting-tab" data-toggle="tab" href="#setting" role="tab" aria-controls="setting" aria-selected="false">
                            <span class="d-block d-sm-none"><i class="fas fa-cog"></i></span>
                            <span class="d-none d-sm-block">Settings</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                        <p class="mb-0">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
                    </div>
                    <div class="tab-pane show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                    </div>
                    <div class="tab-pane" id="message" role="tabpanel" aria-labelledby="message-tab">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                        <p class="mb-0">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
                    </div>
                    <div class="tab-pane" id="setting" role="tabpanel" aria-labelledby="setting-tab">
                        <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                    </div>
                </div>

            </div>
        </div> -->
    </div>

        <div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"  style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title mt-0">Add New Patient</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="field-1" class="control-label">First Name</label>
                                    <input type="text" class="form-control" v-model="customerForm.firstname" id="field-1" placeholder="John">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="field-2" class="control-label">Last Name</label>
                                    <input type="text" class="form-control" v-model="customerForm.lastname" id="field-2" placeholder="Doe">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="field-3" class="control-label">Mobile Number</label>
                                    <input type="text" class="form-control" v-model="customerForm.mobile" id="field-3" placeholder="9841xxxxxx">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="field-6" class="control-label">Patient Type</label>
                                    <select class="form-control" v-model="customerForm.patient_type_id">
                                        <option value="">Normal</option>
                                        {% for patient_type in patient_types %}
                                            <option value="{{patient_type.id}}">{{patient_type.title}}</option>
                                        {% endfor %}
                                        
                                    </select>
                                </div>
                            </div>
                         
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="field-5" class="control-label">Date of Birth</label>
                                    <!-- <input type="text" v-model="customerForm.date_of_birth" class="form-control datepicker" v-model="customerForm.dob" id=""  placeholder=""> -->
                                    <vuejs-datepicker :format="customFormatter" v-model="customerForm.date_of_birth"></vuejs-datepicker>
                                    <!-- <input type="text" name="input" placeholder="YYYY-MM-DD" required 
                        pattern="(?:19|20)\[0-9\]{2}-(?:(?:0\[1-9\]|1\[0-2\])-(?:0\[1-9\]|1\[0-9\]|2\[0-9\])|(?:(?!02)(?:0\[1-9\]|1\[0-2\])-(?:30))|(?:(?:0\[13578\]|1\[02\])-31))" 
                        title="Enter a date in this format YYYY-MM-DD"/> -->
                                </div>
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="field-6" class="control-label">Email Address</label>
                                    <input type="text" class="form-control"  v-model="customerForm.email" id="field-6" placeholder="admin@gmail.com">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="field-4" class="control-label">Country</label>
                                   
                                    <select class="form-control" v-model="fk_country_id" @change="fetchState">
                                        <option>select</option>
                                        {% for country in countries %}
                                            <option value="{{country.id}}">{{country.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="field-4" class="control-label">State</label>
                                    <!-- <input type="text" class="form-control" v-model="fk_state_id" id="field-4" placeholder="Country"> -->
                                    <select class="form-control" name="perm_district"  v-model="fk_state_id" @change="fetchDistrict">
                                        <option value="">Select State</option>
                                        <option v-for="data in state.results" :value="data.id">[[ data.name ]]</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="field-4" class="control-label">District</label>
                                    <!-- <input type="text" class="form-control" v-model="fk_district_id" id="field-4" placeholder="Country"> -->
                                    <select class="form-control" name="perm_district"  v-model="fk_district_id" @change="fetchLocalgov">
                                        <option value="">Select District</option>
                                        <option v-for="data in district.results" :value="data.id">[[ data.name ]]</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="field-4" class="control-label">Local Gov</label>
                                    <!-- <input type="text" class="form-control" v-model="fk_localgov_id" id="field-4" placeholder="Local"> -->
                                    <select class="form-control" name="perm_district"  v-model="fk_localgov_id" @change="fetchLocalgov">
                                        <option value="">Select Localgov</option>
                                        <option v-for="data in localgov.results" :value="data.id">[[ data.name ]]</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="field-6" class="control-label">Emergency Number</label>
                                    <input type="text" class="form-control"  v-model="customerForm.emergency_number" id="field-6" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-4" >
                                <div class="form-group">
                                    <label for="field-6" class="control-label">Blood Group</label>
                                    <select v-model="customerForm.fk_bloodgroup_id" class="form-control">
                                    {% for bg in blood_groups %}
                                        <option value="{{bg.id}}">{{bg.title}}</option>
                                    {% endfor %}
                                    </select>                                   
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="field-6" class="control-label">Gender</label>
                                    <select v-model="customerForm.fk_gender_id" class="form-control">
                                    {% for gender in genders %}
                                        <option value="{{gender.id}}">{{gender.title}}</option>
                                    {% endfor %}
                                    </select>   
                            </div>
                        </div>

                        
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button> -->
                        <button type="button" class="btn btn-purple waves-effect waves-light" @click="savePatient">Add Patient</button>
                        <!-- <button  @click="savePatient">save</button> -->             
                    </div>
                    <div v-if="message.error_status==true"class="alert alert-icon alert-danger alert-dismissible fade show mb-0" role="alert">
                        <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button> -->
                        <i class="mdi mdi-block-helper mr-2"></i>
                        <strong>[[message.error_message_body.Fail]]</strong>
                        <strong>[[message.error_message_body.username]]</strong>
                        <strong>[[message.error_message_body.mobile]]</strong>
                        <strong>[[message.error_message_body.firstname]]</strong>
                        <strong>[[message.error_message_body.lastname]]</strong>
                        <strong>[[message.error_message_body.email]]</strong>

                    </div>
            
        </div>
        </div>


{% endblock %}

{% block script %}
<script>
    // $(document).ready(function(){
    //     $('.datepicker').datepicker({
    //         format: 'yyyy-mm-dd',
    //     });
    // });
   // var Toasted = require('vue-toasted').default
   Vue.use(VueToast);
   
//    Vue.component('datepicker', Datepicker)
   var app = new Vue({
       
       delimiters: ['[[', ']]'],
     el: '#add_visit',
     
    components: {
  	    vuejsDatepicker
    },
     data: {
        fr: vdp_translation_fr.js,
        fk_state_id: null,
        fk_country_id: null,
        fk_district_id: null,
        fk_localgov_id: null,
        state : [],
        district : [],
        localgov: [],

        fk_customer_user_id : null,
        fk_doctor_user_id : null,
        appointmentDate : '',
        remarks: '',
        visit_type: '',
       selectedPatient : null,
       selectedDoctor : null,
       loading: false,
       products : [],
       doctors: [],
       showModal : false,
       patients:[],
       patient : [{
            id: '',
            firstname: "",
            lastname: "",
            mobile: "",
            patient_type: {
                p_type_id: null,
                p_type_title: ""
            }
        }],
        message : {
            error_message_body: '',
            error_status : false,
        },
       Visit : [{
           id: 0,
           amount: "",
           fk_type_id: "", //visit-type id ho yo
           comment: "",
           cartitem_id :  "",
        //    appointmentDate : '',

   }],
   customerForm : {
        appointmentDate: '',
        firstname : "",
        fk_gender_id : null,
        lastname: "",
        email : "",
        patient_type_id : null,
        mobile : "",
        visit_type: '',
        address: '',
        date_of_birth:  '', //new Date().toDateString(),
        fk_bloodgroup_id:'',
        emergency_number: ''
    },

  

}, //Data Closed

     methods : {
         
       saveVisit: function() {
               axios({
               method: 'post',
               url:  '/api/VisitAPIView/',
               headers: {
                               'Content-Type': 'application/json',
                               'X-CSRFToken': '{{ csrf_token }}'
                           }, 
               data: {
                    fk_customer_user_id: this.fk_customer_user_id.id,
                    fk_doctor_user_id : this.fk_doctor_user_id,
                    // appointmentDate : '2020-01-01', //this.appointmentDate,
                    appointmentDate : this.customerForm.appointmentDate,
                    remarks : this.remarks,
                    visit_type : this.visit_type,
                    
                    
               },
               }) //.then(response=> cartitem.variation = response.data)
               .then((getResponse) => {
                   $('#con-close-modal').modal('hide')
                //    console.log(getResponse.data);
                    window.location='/api/VisitAPIView/?customer_id='+ getResponse.data.fk_customer_user_id;
                //    this.patientType = getResponse.data.user_id;
                   

               }) 
               .catch(function (error) {
                   console.log(error);
                   console.log("Error while fetching market updates");
               });
                 
       },

       fetchState: function(){
                axios.get("/api/address/", {
                    params :{
                        state: 1
                    },
                     // request_for: 'state'
                }).then(response =>{
                    this.state = response.data;
                    console.log(this.state);
                    // application.state_data = response.data;
                    // application.select_state = '';
                    // application.district_data = '';
                    // appplication.select_district = '';
                    // application.localgov_data = '';
                    // application.select_localgov = '';
                }).catch(error => {
                    console.log('error',error);
                });
            },

            fetchDistrict : function() {
                axios.get("/api/address/", {
                    params :{
                        fk_state_id: this.fk_state_id
                    },
                    // request_for: 'state'
                }).then(response =>{
                    this.district = response.data;
                    console.log('district',this.district);
                    
                    // application.state_data = response.data;
                    // application.select_state = '';
                    // application.district_data = '';
                    // appplication.select_district = '';
                    // application.localgov_data = '';
                    // application.select_localgov = '';
                }).catch(error => {
                    console.log('error',error);
                });
            },

            fetchLocalgov : function() {
                axios.get("/api/address/", {
                    params :{
                        fk_district_id: this.fk_district_id
                    },
                    // request_for: 'state'
                }).then(response =>{
                    this.localgov = response.data;
                    console.log('localgov',this.localgov);
                    
                    // application.state_data = response.data;
                    // application.select_state = '';
                    // application.district_data = '';
                    // appplication.select_district = '';
                    // application.localgov_data = '';
                    // application.select_localgov = '';
                }).catch(error => {
                    console.log('error',error);
                });
            },

       onChangeVisitType(event){
           this.Visit.fk_type_id = event.target.value;
           console.log(event.target.value);
       },
       onChangeVariation(event){
        console.log(event.target.value);
        this.Visit.cartitem_id = event.target.value;
       },
       getPatient() {
            this.loading = true;
            axios.get('/api/patients/')
                .then((getResponse) => {
                    console.log("GET Response - patients")
                    console.log(getResponse.data);
                    // data = getResponse.data;
                    // response.send(data);
                    this.patients = getResponse.data;
                    // this.selectedPatient = '11';
                    this.loading = false;
                    // print(products);
                })
                .catch(function (error) {
                    this.loading = false;
                    console.log(error);
                    console.log("Error while fetching market updates");
                });  
        },

        getDoctors() {
            this.loading = true;
            axios.get('/api/DoctorUserListAPIView/')
                .then((getResponse) => {
                    console.log("GET Response - patients")
                    console.log(getResponse.data);
                    // data = getResponse.data;
                    // response.send(data);
                    this.doctors = getResponse.data;
                    // this.selectedPatient = '11';
                    this.loading = false;
                    // print(products);
                })
                .catch(function (error) {
                    this.loading = false;
                    console.log(error);
                    console.log("Error while fetching market updates");
                });  
        },
        customFormatter(date) {
            this.customerForm.date_of_birth = moment(date).format('YYYY-MM-DD');
              return moment(date).format('YYYY-MM-DD');
        },
        customAppointmentFormatter(date) {
            this.customerForm.appointmentDate = moment(date).format('YYYY-MM-DD');
              return moment(date).format('YYYY-MM-DD');
        },
        savePatient: function() {
                axios({
                method: 'post',
                url:  '/api/register/',
                headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}'
                            }, 
                data: {
                    fk_customer_id : null,
                    firstname : this.customerForm.firstname,
                    lastname : this.customerForm.lastname,
                    mobile : this.customerForm.mobile,
                    email : this.customerForm.email,
                    date_of_birth : this.customerForm.date_of_birth,
                    address : this.customerForm.address,
                    patient_type_id : this.customerForm.patient_type_id,
                    emergency_number : this.customerForm.emergency_number,
                    fk_bloodgroup_id : this.customerForm.fk_bloodgroup_id,
                    fk_country_id : this.fk_country_id,
                    fk_state_id : this.fk_state_id,
                    fk_district_id : this.fk_district_id,
                    fk_localgov_id : this.fk_localgov_id,
                    fk_gender : this.customerForm.fk_gender_id

                  // This is the body part
                },
                }) //.then(response=> cartitem.variation = response.data)
                .then((getResponse) => {
                    $('#con-close-modal').modal('hide');
                    let toast = this.$toasted.show("Patient has been registered", { 
                        theme: "toasted-primary", 
                        position: "top-right", 
                        duration : 2000,
                        className: ['your-custom-class',]
                    });

                    console.log(getResponse.data);
                    this.getPatient();
                    // this.selectedPatient = getResponse.data.user_id;
                    this.fk_customer_user_id = getResponse.data.user_id;
                    console.log(this);
                    

                })
                .catch((error) => {    
                    console.log(error.response.data);
                    if(error.response){
                        this.message.error_message_body = error.response.data;
                        this.message.error_status = true;
                    }
                    let toast = this.$toasted.show("Please input correct information", { 
                        theme: "bubble", 
                        position: "top-right", 
                        duration : 2000,
                        className: ['your-custom-class',]
                    });
                            // console.log(error.response.status);
                            // console.log(error.response.headers);
                });
                  
        }
    
     }, //end method
     

    

     mounted() {
        this.getPatient();
        this.getDoctors();
        $('.datepicker').datepicker({
            onSelect: function(dateText) { 
                $(this)[0].dispatchEvent(new Event('input', { 'bubbles': true }))
            }
            });
     },
   })
 </script>
 {% endblock %}