
{% extends 'personal/dashboard_layout/app.html' %}

{% load static %}
{% block page_title %} Visits {% endblock %}
{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
            <div class="float-left mb-3">
                <h4 class="text-dark header-title">Visit List of Patient :  {{visits.0.fk_customer_user.firstname}} {{visits.0.fk_customer_user.lastname}}</h4>
            </div>
            
            <div class="table-responsive">
                <table class="table m-0 table-colored-bordered table-bordered-teal">
                    <thead>
                        <tr>
                            <th>VisitID</th>
                            <th>Date</th>
                            <th>Patient ID</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Assigned Doctor</th>
                            <th>Status</th>
                            <th>Type</th>
                            <th>Time</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if visits %}
                            {% for visit in visits %}
                                <tr>
                                    <td>{{visit.visit_id}}</td>
                                    <td>{{visit.timestamp}}</td>
                                    <td>{{ visit.fk_customer_user.id }}</td>
                                    <td>{{visit.fk_customer_user.firstname}} {{visit.fk_customer_user.lastname}}</td>
                                    <td>{{visit.fk_customer_user.address}}</td>
                                    <td>{{visit.fk_customer_user.mobile}}</td>
                                    <td>{{visit.fk_customer_user.email}}}</td>
                                    <td>{{ visit.fk_doctor_user.firstname }} {{ visit.fk_doctor_user.lastname }}</td>
                                    <td>{% if visit.status %}Finished {% else %} Pending {% endif %}</td>
                                    <td>{{visit.fk_visit.title}}</td>
                                    <td>{{visit.checkout_at}}</td>
                                    <td><a class="btn btn-primary" href="/carts?visit_id={{visit.id}}">details</a></td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr colspan="12">No data's found</tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
 <script>
    // var Toasted = require('vue-toasted').default
    Vue.use(VueToast);
    var app = new Vue({
        
        delimiters: ['[[', ']]'],
      el: '#pos',
      data: {
        loading: false,
        products : [],
        showModal : false,
        
        patients : [{
            id: 0,
            firstname: "",
            lastname: "",
            mobile: "",
            patient_type: {
                p_type_id: null,
                p_type_title: ""
            }
    }],
    patient :{},
        selectedVal : 1,
        users:[{name:'',email:'',mobno:''}],
        selected : '',
        patientType:'',
        quantity: 1,

        cart :{
        "token": null,
        "cart": 107,
        "total": 6510.0,
        "subtotal": 6000.0,
        "tax_total": 510.0,
        "count": 1,
        "items": [
            {
                "product_id": 1,
                "image": "/static/no-image.jpg",
                "item": 1,
                "item_title": "Aspirin-hib (aspirin)",
                "price": 150.0,
                "product": 1,
                "quantity": "40.00",
                "line_item_total": "6000.00",
                "fk_store_title": "",
                variation : {id: '',title :"",price:"",sale_price:null,discount:"",inventory:""},
            }
        ]
    },
    customerForm : {
        firstname : "",
        lastname: "",
        email : "",
        patient_type : "",
        mobile : "",
        address: "",
        patienttype: "",
        dob : ""
    },

}, //Data Closed
      methods : {
        savePatient: function() {
                axios({
                method: 'post',
                url:  '/api/register/',
                headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}'
                            }, 
                data: {
                    firstname : this.customerForm.firstname,
                    lastname : this.customerForm.lastname,
                    mobile : this.customerForm.mobile,
                    email : this.customerForm.email,

                  // This is the body part
                },
                }) //.then(response=> cartitem.variation = response.data)
                .then((getResponse) => {
                    $('#con-close-modal').modal('hide')
                    console.log(getResponse.data);
                    this.patientType = getResponse.data.user_id;
                    

                }) 
                .catch(function (error) {
                    console.log(error);
                    console.log("Error while fetching market updates");
                });
                  
        }

       
      }, //end method
      

     

      mounted() {
            $('.date').datepicker({
                // dateFormat: 'yyyy-mm-dd',
                onSelect: function(dateText) { 
                    $(this)[0].dispatchEvent(new Event('input', { 'bubbles': true }))
                }
                });
      },
    })
  </script>

 <!-- Datatables init -->
 {% endblock %}