{% extends 'personal/dashboard_layout/app.html' %}

{% load static %}

{% block content %}
<div class="row" id="add_visit">
    <div class="col-sm-12">
        <div class="card-box">
            <h4 class="header-title">Visit </h4>
            <p class="sub-header">
                Most common form control, text-based input fields. Includes support for all HTML5 types: <code>text</code>, <code>password</code>, <code>datetime</code>, <code>datetime-local</code>, <code>date</code>, <code>month</code>, <code>time</code>, <code>week</code>, <code>number</code>, <code>email</code>, <code>url</code>, <code>search</code>, <code>tel</code>, and <code>color</code>.
            </p>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-sm-2 control-label"> Customer</label>
                            <div class="col-sm-6">
                                <select class="form-control" v-model="fk_customer_user_id">
                                    <option  v-for="(patient, index) in patients" v-bind:value="patient.id">[[ patient.firstname ]] [[patient.lastname]] [[patient.mobile]]</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <button class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#con-close-modal">Add Customer</button>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 control-label" for="example-email">Service/ Items</label>
                            <div class="col-md-8">
                                <select class="form-control" v-model="fk_doctor_user_id">
                                    <option  v-for="(doctor, index) in doctors.results" v-bind:value="doctor.id">[[ doctor.firstname ]] [[doctor.lastname]] [[doctor.mobile]]</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 control-label">Appointment Date</label>
                            <div class="col-md-8">
                                <!-- input-group -->
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="mm/dd/yyyy" id="datepicker">
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-primary text-white b-0"><i class="mdi mdi-calendar"></i></span>
                                    </div>
                                </div>
                                <!-- input-group -->
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 control-label"> Remarks</label>
                            <div class="col-md-10">
                                <input type="text" v-model="remarks" class="form-control" value="" placeholder="Remarks">
                            </div>
                        </div>

                        <div class="form-group row">
                            <button class="btn btn-info" @click="saveVisit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add new customer modal start -->
        <div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title mt-0">Add New Customer</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="field-1" name="firstname" class="control-label">Firstname</label>
                                    <input type="text" name="lastname"  v-model="customerForm.firstname" class="form-control" id="field-1" placeholder="John">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="field-2" class="control-label">Lastname</label>
                                    <input type="text" name="lastname" v-model="customerForm.lastname" class="form-control" id="field-2" placeholder="Doe">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="field-3" class="control-label">Mobile</label>
                                    <input type="text" name="mobile" v-model="customerForm.mobile" class="form-control" id="field-3" placeholder="9841xxxxxx">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="field-3" class="control-label">Email</label>
                                    <input type="text" name="email"  v-model="customerForm.email" class="form-control" id="field-3" placeholder="admin@gmail.com">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="field-6" class="control-label">Patient Type</label>
                                    <select class="form-control" v-model="customerForm.patienttype">
                                        <option value="opd">OPD</option>
                                        <option value="ipd">IPD</option>
                                        <option value="er">ER</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                        <button type="button"  @click="savePatient" class="btn btn-info waves-effect waves-light">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal -->
    </div>  
</div>


{% endblock %}

{% block script %}
<script>
    $(document).ready(function(){
        $('#datepicker').datepicker({
            format: 'yyyy-mm-dd',
        });
    });
   // var Toasted = require('vue-toasted').default
   Vue.use(VueToast);
   var app = new Vue({
       
       delimiters: ['[[', ']]'],
     el: '#add_visit',
     data: {
        fk_customer_user_id : null,
        fk_doctor_user_id : null,
        appointmentDate : '',
        remarks: '',
       selectedPatient : null,
       selectedDoctor : null,
       loading: false,
       products : [],
       doctors: [],
       showModal : false,
       patients:[],
       patient : [{
            id: 0,
            firstname: "",
            lastname: "",
            mobile: "",
            patient_type: {
                p_type_id: null,
                p_type_title: ""
            }
        }],
       Visit : [{
           id: 0,
           amount: "",
           fk_type_id: "", //visit-type id ho yo
           comment: "",
           cartitem_id :  "",
        //    appointmentDate : '',

   }],
   customerForm : {
        firstname : "",
        lastname: "",
        email : "",
        patient_type : "",
        mobile : ""
    },

}, //Data Closed
     methods : {
       saveVisit: function() {
               axios({
               method: 'post',
               url:  '/api/VisitAPIView/',
               headers: {
                               'Content-Type': 'application/json',
                               'X-CSRFToken': '{{ csrf_token }}'
                           }, 
               data: {
                    fk_customer_user_id: this.fk_customer_user_id,
                    fk_doctor_user_id : this.fk_doctor_user_id,
                    appointmentDate : this.appointmentDate,
                    remarks : this.remarks,
               },
               }) //.then(response=> cartitem.variation = response.data)
               .then((getResponse) => {
                   $('#con-close-modal').modal('hide')
                //    console.log(getResponse.data);
                    window.location='/api/VisitAPIView/?customer_id='+ getResponse.data.fk_customer_user_id;
                //    this.patientType = getResponse.data.user_id;
                   

               }) 
               .catch(function (error) {
                   console.log(error);
                   console.log("Error while fetching market updates");
               });
                 
       },
       onChangeVisitType(event){
           this.Visit.fk_type_id = event.target.value;
           console.log(event.target.value);
       },
       onChangeVariation(event){
        console.log(event.target.value);
        this.Visit.cartitem_id = event.target.value;
       },
       getPatient() {
            this.loading = true;
            axios.get('/api/patients/')
                .then((getResponse) => {
                    console.log("GET Response - patients")
                    console.log(getResponse.data);
                    // data = getResponse.data;
                    // response.send(data);
                    this.patients = getResponse.data;
                    // this.selectedPatient = '11';
                    this.loading = false;
                    // print(products);
                })
                .catch(function (error) {
                    this.loading = false;
                    console.log(error);
                    console.log("Error while fetching market updates");
                });  
        },

        getDoctors() {
            this.loading = true;
            axios.get('/api/DoctorUserListAPIView/')
                .then((getResponse) => {
                    console.log("GET Response - patients")
                    console.log(getResponse.data);
                    // data = getResponse.data;
                    // response.send(data);
                    this.doctors = getResponse.data;
                    // this.selectedPatient = '11';
                    this.loading = false;
                    // print(products);
                })
                .catch(function (error) {
                    this.loading = false;
                    console.log(error);
                    console.log("Error while fetching market updates");
                });  
        },
        
        savePatient: function() {
                axios({
                method: 'post',
                url:  '/api/register/',
                headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}'
                            }, 
                data: {
                    firstname : this.customerForm.firstname,
                    lastname : this.customerForm.lastname,
                    mobile : this.customerForm.mobile,
                    email : this.customerForm.email,

                  // This is the body part
                },
                }) //.then(response=> cartitem.variation = response.data)
                .then((getResponse) => {
                    $('#con-close-modal').modal('hide')
                    console.log(getResponse.data);
                    this.getPatient();
                    this.selectedPatient = getResponse.data.user_id;
                    console.log(this);
                    

                })
                .catch(function (error) {
                    console.log(error);
                    console.log("Error while fetching market updates");
                });
                  
        }

      
     }, //end method
     

    

     mounted() {
        this.getPatient();
        this.getDoctors();
     },
   })
 </script>
 {% endblock %}