
{% extends 'personal/dashboard_layout/app.html' %}

{% load static %}

{% block content %}

<div class="col-md-12" id="pos">

    <div class="card-box table-responsive">
        <div claass="row">
            <div class="col-md-10">
                
                <form method="GET" action="/api/VisitAPIView/" class="form-inline">
                    <div class="form-group mr-3">
                        <label for="exampleInputName2" class="mr-1">Phone</label>
                        <input type="text" name="customer_mobile" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                    </div>
                    <div class="form-group mr-3">
                        <label for="exampleInputEmail2" class="mr-1">Name</label>
                        <input type="text" name="customer_firstname" class="form-control" id="exampleInputEmail2">
                    </div>
                    <div class="form-group mr-3">
                        <label for="exampleInputEmail2" class="mr-1">Visit Time</label>
                        <input type="text" data-date-format="yyyy-mm-dd"  max="2222-05-26" name="visit_date" class="form-control date" id="exampleInputEmail2">
                    </div>
                    <div class="form-group mr-3">
                        <label for="exampleInputEmail2" class="mr-1">Visit Type</label>
                        <select name="fk_visit" class="form-group">
                            {% for visit in visit_types %}    
                                <option value="{{visit.id}}">{{visit.title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group mr-3">
                        <button class="btn btn-purple">Filter</button>
                    </div>
                
                </form>
            
            </div>
            <div class="col-md-2">
                <div class="form-group mr-3">
                    <a href="/visit/"><button class="btn btn-purple">New Visit</button></a>
                </div>
            </div>
        </div>
        <div class="col-lg-12">

            <div class="demo-box p-2">
                <h4 class="header-title"></h4>
                <div class="table-responsive">
                    <table class="table m-0">

                        <thead>
                            <tr>
                                <th>visit no.</th>
                                <th> Date</th>
                                <th>Patient ID</th>
                                <th>Name</th>
                                <th> Address</th>
                                <td> phone</td>
                                <th> Email</th>
                               <th>Assigned Doctor</th>
                               <th>Visit Status</th>
                               <th>Visit Type</th>
                               <th>Checkout Time</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for visit in visits %}
                            <tr>
                                <td>{{visit.id}}</td>
                                <td>{{visit.timestamp}}</td>
                                <th scope="row">{{ visit.fk_customer_user.id }}</th>
                                <td>{{visit.fk_customer_user.firstname}} {{visit.fk_customer_user.lastname}}</td>
                                <td>{{visit.fk_customer_user.address}}</td>
                                <td>{{visit.fk_customer_user.mobile}}</td>
                                <td>{{visit.fk_customer_user.email}}}</td>
                                <td>{{ visit.fk_doctor_user.firstname }} {{ visit.fk_doctor_user.lastname }}</td>
                                <td>{% if visit.status %}Finished {% else %} Pending {% endif %}</td>
                                <td>{{visit.fk_visit.title}}</td>
                                <td>{{visit.checkout_at}}</td>
                                <td><a class="btn btn-primary" href="/carts?visit_id={{visit.id}}">details</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="pagination">
                        <span class="step-links">
                            {% if visits.has_previous %}
                                <a href="?page=1">&laquo; first</a>
                                <a href="?page={{ visits.previous_page_number }}">previous</a>
                            {% endif %}
                    
                            <span class="current">
                                Page {{ visits.number }} of {{ contacts.paginator.num_pages }}.
                            </span>
                    
                            {% if visits.has_next %}
                                <a href="?page={{ visits.next_page_number }}">next</a>
                                <a href="?page={{ visits.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>

        </div>
       
    </div>
    <div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"  style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-md-6">
                        <h4 class="modal-title mt-0">Add Customer</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-1" name="firstname" class="control-label">Firstname</label>
                                <input type="text" name="lastname"  v-model="customerForm.firstname" class="form-control" id="field-1" placeholder="John">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-2" class="control-label">Lastname</label>
                                <input type="text" name="lastname" v-model="customerForm.lastname" class="form-control" id="field-2" placeholder="Doe">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-3" class="control-label">Mobile</label>
                                <input type="text" name="mobile" v-model="customerForm.mobile" class="form-control" id="field-3" placeholder="Address">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-3" class="control-label">Email</label>
                                <input type="text" name="email"  v-model="customerForm.email" class="form-control" id="field-3" placeholder="Address">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-3" class="control-label">Date of Birth</label>
                                <input type="text" class="form-control" v-model="customerForm.dob" placeholder="mm/dd/yyyy" id="datepicker-autoclose">
                                                                        <div class="input-group-append">
                                                                            <span class="input-group-text bg-primary text-white b-0"><i class="mdi mdi-calendar"></i></span>
                                                                        </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-3" class="control-label">Address</label>
                                <input type="text"  name="address"  v-model="customerForm.address" class="form-control" placeholder="Address" id="datepicker-autoclose">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-4" class="control-label">Patient Type</label>
                                <!-- <input type="text" class="form-control" id="field-4" placeholder="Boston"> -->
                                <select v-model="customerForm.patienttype">
                                    <option value="opd">OPD</option>
                                    <option value="ipd">IPD</option>
                                    <option value="er">ER</option>
                                </select>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                    <button type="button"  @click="savePatient" class="btn btn-info waves-effect waves-light">Save changes</button>
                    
                </div>
            </div>
        </div>
    </div>
 </div>

 
 {% endblock %}

 {% block script %}
 <script>
    // var Toasted = require('vue-toasted').default
    Vue.use(VueToast);
    var app = new Vue({
        
        delimiters: ['[[', ']]'],
      el: '#pos',
      data: {
        loading: false,
        products : [],
        showModal : false,
        
        patients : [{
            id: 0,
            firstname: "",
            lastname: "",
            mobile: "",
            patient_type: {
                p_type_id: null,
                p_type_title: ""
            }
    }],
    patient :{},
        selectedVal : 1,
        users:[{name:'',email:'',mobno:''}],
        selected : '',
        patientType:'',
        quantity: 1,

        cart :{
        "token": null,
        "cart": 107,
        "total": 6510.0,
        "subtotal": 6000.0,
        "tax_total": 510.0,
        "count": 1,
        "items": [
            {
                "product_id": 1,
                "image": "/static/no-image.jpg",
                "item": 1,
                "item_title": "Aspirin-hib (aspirin)",
                "price": 150.0,
                "product": 1,
                "quantity": "40.00",
                "line_item_total": "6000.00",
                "fk_store_title": "",
                variation : {id: '',title :"",price:"",sale_price:null,discount:"",inventory:""},
            }
        ]
    },
    customerForm : {
        firstname : "",
        lastname: "",
        email : "",
        patient_type : "",
        mobile : "",
        address: "",
        patienttype: "",
        dob : ""
    },

}, //Data Closed
      methods : {
        savePatient: function() {
                axios({
                method: 'post',
                url:  '/api/register/',
                headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}'
                            }, 
                data: {
                    firstname : this.customerForm.firstname,
                    lastname : this.customerForm.lastname,
                    mobile : this.customerForm.mobile,
                    email : this.customerForm.email,

                  // This is the body part
                },
                }) //.then(response=> cartitem.variation = response.data)
                .then((getResponse) => {
                    $('#con-close-modal').modal('hide')
                    console.log(getResponse.data);
                    this.patientType = getResponse.data.user_id;
                    

                }) 
                .catch(function (error) {
                    console.log(error);
                    console.log("Error while fetching market updates");
                });
                  
        }

       
      }, //end method
      

     

      mounted() {
            $('.date').datepicker({
                // dateFormat: 'yyyy-mm-dd',
                onSelect: function(dateText) { 
                    $(this)[0].dispatchEvent(new Event('input', { 'bubbles': true }))
                }
                });
      },
    })
  </script>

 <!-- Datatables init -->
 {% endblock %}