{% extends 'personal/dashboard_layout/app.html' %}

{% load static %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <h4 class="header-title">Doctor List </h4>
                
                <div class="form-group">
                    <a href="{% url 'doctor:add' %}">
                        <button type="submit" class="btn btn-primary waves-effect waves-light">Add New</button>
                    </a>
                </div>

                <div class="table-responsive">
                    <table class="table m-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Department</th>
                                <th>Specialization</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if doctor_list %}
                                {% for item in doctor_list %}
                                    <tr>
                                        <th>{{ forloop.counter }}</th>
                                        <td>{{ item.fk_user }}</td>
                                        <td>{{ item.fk_department }}</td>
                                        <td>{{ item.fk_specialization_type }}</td>
                                        <td>
                                            <a href="{% url 'doctor:edit' item.id %}"><i class="fas fa-edit">Edit</i></a>
                                            <a href="{% url 'doctor:delete' item.id %}" onclick="return confirm('Are you sure you want to delete?')"><i class="fas fa-close"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

