{% extends 'personal/dashboard_layout/app.html' %}

{% load static %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <div class="form-inline">
                    <div class="form-group mr-3">
                        <h4 class="header-title">Office List </h4>
                    </div>

                    <a href="{% url 'office:add' %}">
                        <button class="btn btn-primary waves-effect waves-light">
                        Add New</button>
                    </a>
                </div>

                <div class="table-responsive">
                    <table class="table m-0 mt-3">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Phone</th>
                                <th>PAN No</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if office_list %}
                                {% for item in office_list %}
                                    <tr>
                                        <th>{{ forloop.counter }}</th>
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.address }}</td>
                                        <td>{{ item.phone }}</td>
                                        <td>{{ item.pan }}</td>
                                        <td>
                                            <a href="{% url 'office:edit' item.id %}"><i class="fas fa-edit">Edit</i></a>
                                            <a href="{% url 'office:delete' item.id %}" onclick="return confirm('Are you sure you want to delete?')"><i class="fas fa-close"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

