.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
.login-div {
  padding-top: 100px;
}
.login-card {
  max-width: 400px;
  margin: auto;
  padding: 50px;
}
