la success

<a href="unilinks://host/path/subpath"> 1</a> <br>
<a href="unilinks://example.com/path/portion/?uid=123&token=abc"> 2</a> <br>
<a href="unilinks://example.com/?arr%5b%5d=123&arr%5b%5d=abc&addr=1%20Nowhere%20Rd&addr=Rand%20City%F0%9F%98%82"> 3</a> <br>

<button onclick="finish();">Go Back</button>

<a href="#backButton" onclick="window.history.back();return false">Go back</a> 


<a href="#backButton" onclick="window.close();return false">Go back window</a> <br>
<a href="#backButton" onclick="window.close();">Go back window</a> <br>

Press back  to go to app ...