{% extends 'base_layout.html' %}

{% load static %}

{% block content %}

    <!-- Page content-->
    <section class="section section-lg" style="padding-top: 20px;">
        <div class="container">
            <img class="timeline-classic-item-image" src="{% static 'assets/images/kuwa-drinking-water-banner-1.png' %}" alt="" />
            <div class="row row-30">
                <div class="col-sm-12 col-lg-7 wow-outer">
                    <h4>About</h4>
                    <div class="pricing-minimal-divider" style="margin-top: 10px;"></div>
                    <p style="margin-top: 10px; text-align: justify;">Kuwa is the processed drinking water with availability of maintained level of TDS, PH and Antioxidant. It is a product of Snow Cube Drinking Water Pvt. Ltd.</p>
                    
                    <h4>Additional Info</h4>
                    <div class="pricing-minimal-divider" style="margin-top: 10px;"></div>
                    <ul class="list-md list-medium">
                        <li class="object-inline">
                            <span class="icon icon-sm mdi mdi-map-marker text-gray-700"></span>
                            <p style="margin-top: 0px;">Mulpani <br> Kathmandu, Nepal</p>
                        </li>
                        <li class="object-inline">
                            <span class="icon icon-sm mdi mdi-phone text-gray-700"></span>
                            <p style="margin-top: 0px;">980-8085026</p>
                        </li>
                        <li class="object-inline">
                            <span class="icon icon-sm mdi mdi-email text-gray-700"></span>
                            <p style="margin-top: 0px;">drinksnowwater@gmail.com</p>
                        </li>
                        <li class="object-inline">
                            <span class="icon icon-sm mdi mdi-information text-gray-700"></span>
                            <p style="margin-top: 0px;"><strong>Founding Date</strong> <br> 2074-01-13</p>
                        </li>
                        <li class="object-inline">
                            <span class="icon icon-sm mdi mdi-information text-gray-700"></span>
                            <p style="margin-top: 0px;"><strong>Products</strong> <br> Jar Bottled Water</p>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-12 col-lg-5 wow-outer">
                   <article class="pricing-minimal">
                        <img class="timeline-classic-item-image" src="{% static 'assets/images/kuwa-drinking-water-banner-2.png' %}" alt="" />
                        <h5>The Original Source of Drinking Water</h5>
                        <div class="pricing-minimal-divider" style="margin-top: 10px;"></div>
                        <p style="margin-top: 10px; text-align: justify;">Kuwa is a finest water source of Nepal. It is a fresh and pure drinking water having perfect level of Minerals needs for Our Body. Kuwa is the original source of Drinking Water for you.</p>
                    </article>
                </div>
            </div>
        </div>
    </section>
{% endblock %}